In [15]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import re
from datetime import datetime

In [16]:
df=pd.read_csv("Pattuvam_data_till_Aug_2024_corrected.csv")
df

,DATE,TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
0,01/08/2024,01:00,2561.58,2.32,1996.36,2479.10,NaN
1,01/08/2024,02:00,2510.71,2.49,1984.73,2429.87,NaN
2,01/08/2024,03:00,2489.32,2.71,1998.56,2409.16,NaN
3,01/08/2024,04:00,2444.78,2.79,1972.01,2366.06,NaN
4,01/08/2024,05:00,2417.47,2.99,1945.42,2339.63,NaN
...,...,...,...,...,...,...,...
24812,31/12/2021,20:00,2499.51,289,1851.25,2419.03,NaN
24813,31/12/2021,21:00,2477.1,3.06,1878.95,2397.34,NaN
24814,31/12/2021,22:00,2470.76,3.25,1913.29,2391.20,NaN
24815,31/12/2021,23:00,2492.04,3.3,1904.43,2411.80,NaN
24816,31/12/2021,00:00,2494.18,3.33,1896.67,2413.87,NaN

In [17]:
df[df['REMARKS']=='Maintenance Work at Intake']

Empty DataFrame
Columns: [DATE, TIME, RAW WATER FLOW IN m3/h, CLEAR WATER SUMP LEVEL IN Meter, CLEAR WATER PUMPING FLOW m3/h, TREATED WATER PRODUCTION IN m3/h, REMARKS]
Index: []

In [14]:
df.isna().sum()

DATE                                    0
TIME                                    0
RAW WATER FLOW IN m3/h                 85
CLEAR WATER SUMP LEVEL IN Meter       110
CLEAR WATER PUMPING FLOW m3/h          56
TREATED WATER PRODUCTION IN m3/h        1
REMARKS                             24623
dtype: int64

# Making Standardised Date Format

In [3]:
from dateutil import parser
import pandas as pd

def standardize_date_format(date_str):
    try:
        # Use dateutil's parser to automatically recognize and convert various date formats
        date_obj = parser.parse(date_str)
        # Return the date in DD/MM/YYYY format
        return date_obj.strftime('%d/%m/%Y')
    except (ValueError, TypeError):
        # Handle cases where date_str is not a recognizable date
        return 'Unknown'

# Assuming you have a DataFrame named df with a 'DATE' column
df['Standardized_Date'] = df['DATE'].apply(standardize_date_format)

print("DataFrame with standardized dates:")
df

DataFrame with standardized dates:

,DATE,TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,Standardized_Date
0,01/08/2024,01:00,2561.58,2.32,1996.36,2479.10,NaN,08/01/2024
1,01/08/2024,02:00,2510.71,2.49,1984.73,2429.87,NaN,08/01/2024
2,01/08/2024,03:00,2489.32,2.71,1998.56,2409.16,NaN,08/01/2024
3,01/08/2024,04:00,2444.78,2.79,1972.01,2366.06,NaN,08/01/2024
4,01/08/2024,05:00,2417.47,2.99,1945.42,2339.63,NaN,08/01/2024
...,...,...,...,...,...,...,...,...
24812,31/12/2021,20:00,2499.51,289,1851.25,2419.03,NaN,31/12/2021
24813,31/12/2021,21:00,2477.1,3.06,1878.95,2397.34,NaN,31/12/2021
24814,31/12/2021,22:00,2470.76,3.25,1913.29,2391.20,NaN,31/12/2021
24815,31/12/2021,23:00,2492.04,3.3,1904.43,2411.80,NaN,31/12/2021
24816,31/12/2021,00:00,2494.18,3.33,1896.67,2413.87,NaN,31/12/2021

In [4]:
df['Standardized_Date'].isna().sum()

0

In [5]:
df[df['Standardized_Date']=='Unknown']

,DATE,TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,Standardized_Date
2136,31/06/2024,01:00,NaN,NaN,NaN,0.0,NaN,Unknown
2137,31/06/2024,02:00,NaN,NaN,NaN,0.0,NaN,Unknown
2138,31/06/2024,03:00,NaN,NaN,NaN,0.0,NaN,Unknown
2139,31/06/2024,04:00,NaN,NaN,NaN,0.0,NaN,Unknown
2140,31/06/2024,05:00,NaN,NaN,NaN,0.0,NaN,Unknown
2141,31/06/2024,06:00,NaN,NaN,NaN,0.0,NaN,Unknown
2142,31/06/2024,07:00,NaN,NaN,NaN,0.0,NaN,Unknown
2143,31/06/2024,08:00,NaN,NaN,NaN,0.0,NaN,Unknown
2144,31/06/2024,09:00,NaN,NaN,NaN,0.0,NaN,Unknown
2145,31/06/2024,10:00,NaN,NaN,NaN,0.0,NaN,Unknown
2146,31/06/2024,11:00,NaN,NaN,NaN,0.0,NaN,Unknown
2147,31/06/2024,12:00,NaN,NaN,NaN,0.0,NaN,Unknown
2148,31/06/2024,13:00,NaN,NaN,NaN,0.0,NaN,Unknown
2149,31/06/2024,14:00,NaN,NaN,NaN,0.0,NaN,Unknown
2150,31/06/2024,15:00,NaN,NaN,NaN,0.0,NaN,Unknown
2151,31/06/2024,16:00,NaN,NaN,NaN,0.0,NaN,Unknown
2152,31/06/2024,17:00,NaN,NaN,NaN,0.0,NaN,Unknown
2153,31/06/2024,18:00,NaN,NaN,NaN,0.0,NaN,Unknown
2154,31/06/2024,19:00,NaN,NaN,NaN,0.0,NaN,Unknown
2155,31/06/2024,20:00,NaN,NaN,NaN,0.0,NaN,Unknown
2156,31/06/2024,21:00,NaN,NaN,NaN,0.0,NaN,Unknown
2157,31/06/2024,22:00,NaN,NaN,NaN,0.0,NaN,Unknown
2158,31/06/2024,23:00,NaN,NaN,NaN,0.0,NaN,Unknown
2159,31/06/2024,00:00,NaN,NaN,NaN,0.0,NaN,Unknown

# Making Standardised Time Format

In [6]:
### For time standardisation

def standardize_time(time_str):
 
    time_str = time_str.replace(' ', ':')     #For Replacing the spaces with colons
    
    
        #For cases where time is not in HH:MM format
        
    if len(time_str) == 1:  # Single digit hour
        time_str = f'0{time_str}:00'
    elif len(time_str) == 2:  # Only hour 
        time_str = f'{time_str}:00'
    elif len(time_str) == 4:  # Format like HHMM
        time_str = f'{time_str[:2]}:{time_str[2:]}'
    elif len(time_str) == 5 and ':' not in time_str:  # Format like HHMM
        time_str = f'{time_str[:2]}:{time_str[2:]}'
    
    # Convert to datetime and format as HH:MM
    try:
        return pd.to_datetime(time_str, format='%H:%M', errors='coerce').strftime('%H:%M')
    except ValueError:
        return None  # Return None for unparseable formats

# Apply the function to the TIME column
df['STANDARDIZED_TIME'] = df['TIME'].apply(standardize_time)

In [7]:
df['STANDARDIZED_TIME'].isna().sum()

0

In [8]:
df=df[['Standardized_Date','STANDARDIZED_TIME','RAW WATER FLOW IN m3/h',
       'CLEAR WATER SUMP LEVEL IN Meter', 'CLEAR WATER PUMPING FLOW m3/h',
       'TREATED WATER PRODUCTION IN m3/h', 'REMARKS']]
df

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
0,08/01/2024,01:00,2561.58,2.32,1996.36,2479.10,NaN
1,08/01/2024,02:00,2510.71,2.49,1984.73,2429.87,NaN
2,08/01/2024,03:00,2489.32,2.71,1998.56,2409.16,NaN
3,08/01/2024,04:00,2444.78,2.79,1972.01,2366.06,NaN
4,08/01/2024,05:00,2417.47,2.99,1945.42,2339.63,NaN
...,...,...,...,...,...,...,...
24812,31/12/2021,20:00,2499.51,289,1851.25,2419.03,NaN
24813,31/12/2021,21:00,2477.1,3.06,1878.95,2397.34,NaN
24814,31/12/2021,22:00,2470.76,3.25,1913.29,2391.20,NaN
24815,31/12/2021,23:00,2492.04,3.3,1904.43,2411.80,NaN
24816,31/12/2021,00:00,2494.18,3.33,1896.67,2413.87,NaN

# Data cleaning steps for Standardized Date column

In [9]:
df.drop(index=range(2136, 2160), inplace=True) #These indexes shows 31/06/2024 data where June month contains only 30 days

/var/folders/cc/_x2lxl0x5rl1ht3z4znf96yh0000gn/T/ipykernel_13759/2128900932.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index=range(2136, 2160), inplace=True) #These indexes shows 31/06/2024 data where June month contains only 30 days

In [10]:
df['Standardized_Date'] = df['Standardized_Date'].str.replace('2922', '2022')
df['Standardized_Date'] = df['Standardized_Date'].str.replace('2032', '2022')
df['Standardized_Date'] = df['Standardized_Date'].str.replace('2044', '2022')

/var/folders/cc/_x2lxl0x5rl1ht3z4znf96yh0000gn/T/ipykernel_13759/774072512.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Standardized_Date'] = df['Standardized_Date'].str.replace('2922', '2022')
/var/folders/cc/_x2lxl0x5rl1ht3z4znf96yh0000gn/T/ipykernel_13759/774072512.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Standardized_Date'] = df['Standardized_Date'].str.replace('2032', '2022')
/var/folders/cc/_x2lxl0x5rl1ht3z4znf96yh0000gn/T/ipykernel_13759/774072512.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Standardized_Date'] = df['Standardized_Date'].str.replace('2044', '2022')

In [11]:
# indices_to_update = [21651, 21652, 22371, 22372] #These indexes shows date as eg: 20/04/2922 where 2922 year is not present so changing it to 2022
# correct_year = '2022'
# df.loc[indices_to_update, 'Standardized_Date'] = df.loc[indices_to_update, 'Standardized_Date'].str.replace('2922', correct_year)

In [12]:
df[df['Standardized_Date'].isna()]

Empty DataFrame
Columns: [Standardized_Date, STANDARDIZED_TIME, RAW WATER FLOW IN m3/h, CLEAR WATER SUMP LEVEL IN Meter, CLEAR WATER PUMPING FLOW m3/h, TREATED WATER PRODUCTION IN m3/h, REMARKS]
Index: []

In [13]:
df[21651:21653]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
21675,21/04/2022,03:00,2537.82,2.52,1865.34,2456.10,NaN
21676,21/04/2022,04:00,2542.69,3.24,1845.56,2460.82,NaN

In [14]:
df[2136:2160]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
2160,05/01/2024,01:00,3536.02,2.48,3699.54,3422.16,NaN
2161,05/01/2024,02:00,3514.48,2.30,3711.65,3401.31,NaN
2162,05/01/2024,03:00,3499.64,2.53,2898.19,3386.95,NaN
2163,05/01/2024,04:00,3512.65,2.79,2905.78,3399.54,NaN
2164,05/01/2024,05:00,3562.35,3.08,2932.39,3447.64,NaN
2165,05/01/2024,06:00,3535.35,3.23,2941.27,3421.51,NaN
2166,05/01/2024,07:00,3533.10,3.25,2917.45,3419.33,NaN
2167,05/01/2024,08:00,3549.36,3.23,2905.65,3435.07,NaN
2168,05/01/2024,09:00,3511.26,3.21,2924.15,3398.20,NaN
2169,05/01/2024,10:00,3562.20,3.26,2905.94,3447.50,NaN
2170,05/01/2024,11:00,3523.59,3.58,2942.50,3410.13,NaN
2171,05/01/2024,12:00,3521.94,3.75,2931.42,3408.53,NaN
2172,05/01/2024,13:00,3512.46,3.72,2924.21,3399.36,NaN
2173,05/01/2024,14:00,3556.27,3.65,2932.75,3441.76,NaN
2174,05/01/2024,15:00,3533.16,3.71,2936.36,3419.39,NaN
2175,05/01/2024,16:00,3549.44,3.75,2918.13,3435.15,NaN
2176,05/01/2024,17:00,3555.11,3.84,2925.46,3440.64,NaN
2177,05/01/2024,18:00,3564.75,3.94,3848.74,3449.97,NaN
2178,05/01/2024,19:00,3533.72,3.70,3821.04,3419.93,NaN
2179,05/01/2024,20:00,3500.60,3.41,3784.48,3387.88,NaN
2180,05/01/2024,21:00,3524.08,3.25,3787.81,3410.60,NaN
2181,05/01/2024,22:00,3595.73,3.16,3788.65,3479.95,NaN
2182,05/01/2024,23:00,3528.14,2.76,3877.16,3414.53,NaN
2183,05/01/2024,00:00,3521.94,2.47,3744.19,3408.53,NaN

In [15]:
df[df['Standardized_Date']=='Unknown']

Empty DataFrame
Columns: [Standardized_Date, STANDARDIZED_TIME, RAW WATER FLOW IN m3/h, CLEAR WATER SUMP LEVEL IN Meter, CLEAR WATER PUMPING FLOW m3/h, TREATED WATER PRODUCTION IN m3/h, REMARKS]
Index: []

In [18]:
df['Standardized_Date'] = pd.to_datetime(df['Standardized_Date'], format='DD/MM/YYYY',errors='coerce')
df

/var/folders/cc/_x2lxl0x5rl1ht3z4znf96yh0000gn/T/ipykernel_13759/2194774854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Standardized_Date'] = pd.to_datetime(df['Standardized_Date'], format='DD/MM/YYYY',errors='coerce')

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
0,2024-01-08,01:00,2561.58,2.32,1996.36,2479.10,NaN
1,2024-01-08,02:00,2510.71,2.49,1984.73,2429.87,NaN
2,2024-01-08,03:00,2489.32,2.71,1998.56,2409.16,NaN
3,2024-01-08,04:00,2444.78,2.79,1972.01,2366.06,NaN
4,2024-01-08,05:00,2417.47,2.99,1945.42,2339.63,NaN
...,...,...,...,...,...,...,...
24812,2021-12-31,20:00,2499.51,289,1851.25,2419.03,NaN
24813,2021-12-31,21:00,2477.1,3.06,1878.95,2397.34,NaN
24814,2021-12-31,22:00,2470.76,3.25,1913.29,2391.20,NaN
24815,2021-12-31,23:00,2492.04,3.3,1904.43,2411.80,NaN
24816,2021-12-31,00:00,2494.18,3.33,1896.67,2413.87,NaN

In [19]:
df[df['Standardized_Date'].isna()]

Empty DataFrame
Columns: [Standardized_Date, STANDARDIZED_TIME, RAW WATER FLOW IN m3/h, CLEAR WATER SUMP LEVEL IN Meter, CLEAR WATER PUMPING FLOW m3/h, TREATED WATER PRODUCTION IN m3/h, REMARKS]
Index: []

In [20]:
df.to_csv('corrected_date_and_time.csv',index=False)

In [3]:
df=pd.read_csv('corrected_date_and_time.csv')
df

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
0,2024-01-08,01:00,2561.58,2.32,1996.36,2479.10,NaN
1,2024-01-08,02:00,2510.71,2.49,1984.73,2429.87,NaN
2,2024-01-08,03:00,2489.32,2.71,1998.56,2409.16,NaN
3,2024-01-08,04:00,2444.78,2.79,1972.01,2366.06,NaN
4,2024-01-08,05:00,2417.47,2.99,1945.42,2339.63,NaN
...,...,...,...,...,...,...,...
24788,2021-12-31,20:00,2499.51,289,1851.25,2419.03,NaN
24789,2021-12-31,21:00,2477.1,3.06,1878.95,2397.34,NaN
24790,2021-12-31,22:00,2470.76,3.25,1913.29,2391.20,NaN
24791,2021-12-31,23:00,2492.04,3.3,1904.43,2411.80,NaN
24792,2021-12-31,00:00,2494.18,3.33,1896.67,2413.87,NaN

In [4]:
import pandas as pd
 
# Function to check if the value contains any non-numeric characters
def check_non_numeric(value):
    try:
        # Attempt to convert the value to a float (which handles numbers with decimals)
        float(value)
        return False  # No non-numeric characters found
    except ValueError:
        return True  # Non-numeric characters found
 
# Apply the function to the column and get a mask of rows with non-numeric values
df['non_numeric'] = df['RAW WATER FLOW IN m3/h'].apply(check_non_numeric)
 
# Filter rows that have non-numeric characters
non_numeric_rows = df[df['non_numeric']]
 
# Display rows with non-numeric values
non_numeric_rows
# non_numeric_rows.shape

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,non_numeric
12105,2023-03-20,10:00,2440/02,2.69,1879.80,190912.1,NaN,True
19073,2022-05-07,17:00,0 00,3.67,0 00,0.0,Pumping Stoped due to intake,True
19074,2022-05-07,18:00,0 00,3.54,0 00,0.0,Sump Level Low,True

# Data cleaning of RAW WATER FLOW IN m3/h column

In [ ]:
df['RAW WATER FLOW IN m3/h'].isna().sum()

In [ ]:
pd.set_option('display.max_rows', None) 
df1=df[df['RAW WATER FLOW IN m3/h'].isna()]
df1

In [ ]:
df[12104:12106]

In [ ]:
df[19072:19075]

In [ ]:
numeric_cols=['RAW WATER FLOW IN m3/h','CLEAR WATER SUMP LEVEL IN Meter', 'CLEAR WATER PUMPING FLOW m3/h',
       'TREATED WATER PRODUCTION IN m3/h']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [ ]:
df['RAW WATER FLOW IN m3/h'].isna().sum()

In [ ]:
pd.set_option('display.max_rows', None) 
df2=df[df['RAW WATER FLOW IN m3/h'].isna()]
df2

In [ ]:
# new_nans_mask =new_nans_mask = (df2[df2['RAW WATER FLOW IN m3/h'].isna()]) & (df1[df1['RAW WATER FLOW IN m3/h'].notna()])

# new_nans_mask

In [ ]:
df[(df['RAW WATER FLOW IN m3/h'].isna())&(df['CLEAR WATER SUMP LEVEL IN Meter'].isna())&(df['CLEAR WATER PUMPING FLOW m3/h'].isna())&(df['TREATED WATER PRODUCTION IN m3/h']==0)]

In [ ]:
df[(df['RAW WATER FLOW IN m3/h'].isna())|(df['TREATED WATER PRODUCTION IN m3/h'].isna())]

In [ ]:
df[(df['TREATED WATER PRODUCTION IN m3/h'].isna())]

In [ ]:
df['RAW WATER FLOW IN m3/h'].nlargest(30)

In [ ]:
df['CLEAR WATER SUMP LEVEL IN Meter'].nlargest(50)

In [ ]:
indices = list(range(21220, 21230)) + \
          list(range(23200, 23201)) + \
          list(range(3310, 3320)) + \
          list(range(4560, 4570)) + \
          list(range(3475, 3485))
rows = df.loc[indices]

In [ ]:
rows