In [127]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import re
from datetime import datetime

In [128]:
df=pd.read_csv('All_Errors_Corrected.csv',parse_dates=['Standardized_Date'])
df

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
0,2024-08-01,1:00,2561.58,2.32,1996.36,2479.10,NaN
1,2024-08-01,2:00,2510.71,2.49,1984.73,2429.87,NaN
2,2024-08-01,3:00,2489.32,2.71,1998.56,2409.16,NaN
3,2024-08-01,4:00,2444.78,2.79,1972.01,2366.06,NaN
4,2024-08-01,5:00,2417.47,2.99,1945.42,2339.63,NaN
...,...,...,...,...,...,...,...
24788,2021-12-31,20:00,2499.51,2.89,1851.25,2419.03,NaN
24789,2021-12-31,21:00,2477.10,3.06,1878.95,2397.34,NaN
24790,2021-12-31,22:00,2470.76,3.25,1913.29,2391.20,NaN
24791,2021-12-31,23:00,2492.04,3.30,1904.43,2411.80,NaN
24792,2021-12-31,0:00,2494.18,3.33,1896.67,2413.87,NaN

In [129]:
# Change the value at index 3355
df.loc[3355, 'RAW WATER FLOW IN m3/h'] = 3489.25

# Change the value at index 6791
df.loc[6791, 'RAW WATER FLOW IN m3/h'] = 2411.58

In [130]:
def raw_water_outlier_ffill(data, column_name1, column_name2, column_name3, threshold=4000):
 
    # Adjusting values in column_name1 based on the threshold
    for i in range(1, len(data)):
        if data.loc[i, column_name1] >= threshold:
            data.loc[i, column_name1] = data.loc[i, column_name1] * 0.1
            data.loc[i, 'TREATED WATER PRODUCTION IN m3/h'] = (data.loc[i, column_name1] * 0.967).round(2)
    
    # Forward fill for column_name2 if value > 5
    for i in range(1, len(data)):
        if data.loc[i, column_name2] > 5:
            data.loc[i, column_name2] = data.loc[i - 1, column_name2]
    
    # Adjusting values in column_name3
    for i in range(1, len(data)):
        if data.loc[i, column_name3] > threshold:
            # For specific indices, perform forward fill
            if i in [6976,1757,21314, 21315, 21316]:
                data.loc[i, column_name3] = data.loc[i - 1, column_name3]
            else:
                # Check the number of digits
                value_str = str(int(data.loc[i, column_name3]))  # Convert to string for digit length check
                if len(value_str) == 6:
                    data.loc[i, column_name3] = data.loc[i, column_name3] * 0.01
                elif len(value_str) == 5:
                    data.loc[i, column_name3] = data.loc[i, column_name3] * 0.1
                    
    return data

In [116]:
def raw_water_outlier_ffill(data, column_name1,column_name2,column_name3, threshold=4000):
 
    for i in range(1, len(data)):
        # If the value is greater than the threshold
        if data.loc[i, column_name1] >= threshold:
            # Forward fill using the previous value
            data.loc[i, column_name1] = data.loc[i, column_name1] * 0.1
            
            data.loc[i,'TREATED WATER PRODUCTION IN m3/h'] = (data.loc[i, column_name1]*0.967).round(2)
    for i in range(1, len(data)):
        # If the value is greater than the threshold
        if data.loc[i, column_name2] > 5:
            # Forward fill using the previous value
            data.loc[i, column_name2] = data.loc[i-1, column_name2]
            
    for i in range(1, len(data)):
        # If the value is greater than the threshold
        if data.loc[i, column_name3] > threshold:
            
            # Forward fill using the previous value
            data.loc[i, column_name3] = data.loc[i-1, column_name3]
    return data

In [131]:
df = raw_water_outlier_ffill(df, 'RAW WATER FLOW IN m3/h','CLEAR WATER SUMP LEVEL IN Meter','CLEAR WATER PUMPING FLOW m3/h')
df

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
0,2024-08-01,1:00,2561.58,2.32,1996.36,2479.10,NaN
1,2024-08-01,2:00,2510.71,2.49,1984.73,2429.87,NaN
2,2024-08-01,3:00,2489.32,2.71,1998.56,2409.16,NaN
3,2024-08-01,4:00,2444.78,2.79,1972.01,2366.06,NaN
4,2024-08-01,5:00,2417.47,2.99,1945.42,2339.63,NaN
...,...,...,...,...,...,...,...
24788,2021-12-31,20:00,2499.51,2.89,1851.25,2419.03,NaN
24789,2021-12-31,21:00,2477.10,3.06,1878.95,2397.34,NaN
24790,2021-12-31,22:00,2470.76,3.25,1913.29,2391.20,NaN
24791,2021-12-31,23:00,2492.04,3.30,1904.43,2411.80,NaN
24792,2021-12-31,0:00,2494.18,3.33,1896.67,2413.87,NaN

In [119]:
df[11:15]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
11,2024-08-01,12:00,3150.560,2.32,0.00,3049.11,NaN
12,2024-08-01,13:00,3015.023,3.45,2915.25,2915.53,NaN
13,2024-08-01,14:00,2895.560,3.20,2890.23,2802.32,NaN
14,2024-08-01,15:00,2889.250,3.28,2877.25,2796.22,NaN

In [106]:
columns_of_interest = [
    'RAW WATER FLOW IN m3/h',
    'CLEAR WATER SUMP LEVEL IN Meter',
    'CLEAR WATER PUMPING FLOW m3/h',
    'TREATED WATER PRODUCTION IN m3/h'
]

for col in columns_of_interest:
    mean = df[col].mean()
    std_dev = df[col].std()
    
    # Calculate lower and upper bounds using Z-score method
    lower_limit = mean - 3 * std_dev  
    upper_limit = mean + 3 * std_dev 
    
    # Identify outliers in the column
    outliers_before = df[(df[col] > upper_limit)][col]
    
    # Print column and bounds
    print(f"Column: {col}")
    print(f"Lower Limit: {lower_limit}")
    print(f"Upper Limit: {upper_limit}")
    print(f"No. of outliers: {len(outliers_before)}")
    print(outliers_before)
    print("\n")
    
    # Find above and below index values for each outlier
    for index in outliers_before.index:
        above_index = index - 1 if index > 0 else None
        below_index = index + 1 if index < len(df) - 1 else None

        # Print outlier index and value
        print(f"Outlier index: {index}, Value: {df.at[index, col]}")

        # Print above index and value if it exists
        if above_index is not None:
            print(f"Above index: {above_index}, Value: {df.at[above_index, col]}")
        else:
            print("No row above this outlier (first row).")

        # Print below index and value if it exists
        if below_index is not None:
            print(f"Below index: {below_index}, Value: {df.at[below_index, col]}")
        else:
            print("No row below this outlier (last row).")

        print("\n")

Column: RAW WATER FLOW IN m3/h
Lower Limit: -621.8867371819133
Upper Limit: 6549.602827267632
No. of outliers: 16
12       30150.23
1872     34454.37
2464     33479.12
3293     35509.21
3355     13489.25
3454     34629.52
3691     34499.45
4541     35423.01
6791     62411.58
7777     33333.04
8640     32242.89
11411    34623.74
12904    34017.58
13893    24321.67
21201    36626.53
23183    36001.71
Name: RAW WATER FLOW IN m3/h, dtype: float64


Outlier index: 12, Value: 30150.23
Above index: 11, Value: 3150.56
Below index: 13, Value: 2895.56


Outlier index: 1872, Value: 34454.37
Above index: 1871, Value: 3456.5
Below index: 1873, Value: 3401.67


Outlier index: 2464, Value: 33479.12
Above index: 2463, Value: 3478.23
Below index: 2465, Value: 3476.98


Outlier index: 3293, Value: 35509.21
Above index: 3292, Value: 3571.98
Below index: 3294, Value: 3566.87


Outlier index: 3355, Value: 13489.25
Above index: 3354, Value: 3501.32
Below index: 3356, Value: 3436.64


Outlier index: 3454, Value: 34629.52
Above index: 3453, Value: 3462.03
Below index: 3455, Value: 3456.64


Outlier index: 3691, Value: 34499.45
Above index: 3690, Value: 3456.25
Below index: 3692, Value: 3494.67


Outlier index: 4541, Value: 35423.01
Above index: 4540, Value: 3542.22
Below index: 4542, Value: 3509.14


Outlier index: 6791, Value: 62411.58
Above index: 6790, Value: 2412.0
Below index: 6792, Value: 2410.47


Outlier index: 7777, Value: 33333.04
Above index: 7776, Value: 3350.74
Below index: 7778, Value: 3371.32


Outlier index: 8640, Value: 32242.89
Above index: 8639, Value: 3278.43
Below index: 8641, Value: 3273.34


Outlier index: 11411, Value: 34623.74
Above index: 11410, Value: 3456.76
Below index: 11412, Value: 3474.73


Outlier index: 12904, Value: 34017.58
Above index: 12903, Value: 3457.53
Below index: 12905, Value: 3345.55


Outlier index: 13893, Value: 24321.67
Above index: 13892, Value: 2431.78
Below index: 13894, Value: 2431.89


Outlier index: 21201, Value: 36626.53
Above index: 21200, Value: 3618.56
Below index: 21202, Value: 3606.99


Outlier index: 23183, Value: 36001.71
Above index: 23182, Value: 3605.12
Below index: 23184, Value: 3600.56


Column: CLEAR WATER SUMP LEVEL IN Meter
Lower Limit: 1.107746862870081
Upper Limit: 4.755213940498885
No. of outliers: 2
59      12.68
2703     8.86
Name: CLEAR WATER SUMP LEVEL IN Meter, dtype: float64


Outlier index: 59, Value: 12.68
Above index: 58, Value: 3.03
Below index: 60, Value: 1.71


Outlier index: 2703, Value: 8.86
Above index: 2702, Value: 3.96
Below index: 2704, Value: 3.53


Column: CLEAR WATER PUMPING FLOW m3/h
Lower Limit: -28496.973853838084
Upper Limit: 34525.428200996925
No. of outliers: 36
33       288856.95
4510      37712.98
9116     365485.00
9416     278062.00
9838     369237.00
9925     284515.00
10816    289531.00
10896    279873.00
11190    368234.00
14738    280378.00
15671    273287.00
15876    282967.00
15894    276454.00
15906    276454.00
16833    275498.00
17627    280070.00
18211    276681.00
18371    280070.00
18955    276681.00
19155    281493.00
20405    187226.00
20584    280402.00
21318    182463.00
21571    272356.00
23030    279832.00
23056    275386.00
23463    280118.00
23464    282823.00
23670    184260.00
23731    272446.00
23848    283508.00
23857    275306.00
23858    277078.00
23860    270985.00
24158    277743.00
24737    275197.00
Name: CLEAR WATER PUMPING FLOW m3/h, dtype: float64


Outlier index: 33, Value: 288856.95
Above index: 32, Value: 2853.65
Below index: 34, Value: 2845.21


Outlier index: 4510, Value: 37712.98
Above index: 4509, Value: 2821.43
Below index: 4511, Value: 3721.76


Outlier index: 9116, Value: 365485.0
Above index: 9115, Value: 3658.72
Below index: 9117, Value: 2788.05


Outlier index: 9416, Value: 278062.0
Above index: 9415, Value: 2773.89
Below index: 9417, Value: 2778.71


Outlier index: 9838, Value: 369237.0
Above index: 9837, Value: 2823.67
Below index: 9839, Value: 3689.38


Outlier index: 9925, Value: 284515.0
Above index: 9924, Value: 2798.56
Below index: 9926, Value: 2833.67


Outlier index: 10816, Value: 289531.0
Above index: 10815, Value: 2847.23
Below index: 10817, Value: 2863.56


Outlier index: 10896, Value: 279873.0
Above index: 10895, Value: 2786.54
Below index: 10897, Value: 2806.81


Outlier index: 11190, Value: 368234.0
Above index: 11189, Value: 2781.17
Below index: 11191, Value: 3634.17


Outlier index: 14738, Value: 280378.0
Above index: 14737, Value: 2801.56
Below index: 14739, Value: 1843.87


Outlier index: 15671, Value: 273287.0
Above index: 15670, Value: 2739.81
Below index: 15672, Value: 2762.12


Outlier index: 15876, Value: 282967.0
Above index: 15875, Value: 2828.23
Below index: 15877, Value: 2813.42


Outlier index: 15894, Value: 276454.0
Above index: 15893, Value: 1857.48
Below index: 15895, Value: 2795.11


Outlier index: 15906, Value: 276454.0
Above index: 15905, Value: 2789.83
Below index: 15907, Value: 2795.11


Outlier index: 16833, Value: 275498.0
Above index: 16832, Value: 1841.78
Below index: 16834, Value: 0.0


Outlier index: 17627, Value: 280070.0
Above index: 17626, Value: 2801.34
Below index: 17628, Value: 287.4


Outlier index: 18211, Value: 276681.0
Above index: 18210, Value: 2758.67
Below index: 18212, Value: 2763.05


Outlier index: 18371, Value: 280070.0
Above index: 18370, Value: 2801.34
Below index: 18372, Value: 287.4


Outlier index: 18955, Value: 276681.0
Above index: 18954, Value: 2758.67
Below index: 18956, Value: 2763.05


Outlier index: 19155, Value: 281493.0
Above index: 19154, Value: 1888.07
Below index: 19156, Value: 2802.92


Outlier index: 20405, Value: 187226.0
Above index: 20404, Value: 1876.21
Below index: 20406, Value: 0.0


Outlier index: 20584, Value: 280402.0
Above index: 20583, Value: 2821.74
Below index: 20585, Value: 2810.67


Outlier index: 21318, Value: 182463.0
Above index: 21317, Value: 1821.24
Below index: 21319, Value: 1821.07


Outlier index: 21571, Value: 272356.0
Above index: 21570, Value: 2743.09
Below index: 21572, Value: 2705.73


Outlier index: 23030, Value: 279832.0
Above index: 23029, Value: 2791.83
Below index: 23031, Value: 2795.23


Outlier index: 23056, Value: 275386.0
Above index: 23055, Value: 2756.98
Below index: 23057, Value: 2762.93


Outlier index: 23463, Value: 280118.0
Above index: 23462, Value: 2795.82
Below index: 23464, Value: 282823.0


Outlier index: 23464, Value: 282823.0
Above index: 23463, Value: 280118.0
Below index: 23465, Value: 2841.69


Outlier index: 23670, Value: 184260.0
Above index: 23669, Value: 1870.98
Below index: 23671, Value: 2745.46


Outlier index: 23731, Value: 272446.0
Above index: 23730, Value: 2759.03
Below index: 23732, Value: 2735.93


Outlier index: 23848, Value: 283508.0
Above index: 23847, Value: 2797.37
Below index: 23849, Value: 2849.44


Outlier index: 23857, Value: 275306.0
Above index: 23856, Value: 2764.14
Below index: 23858, Value: 277078.0


Outlier index: 23858, Value: 277078.0
Above index: 23857, Value: 275306.0
Below index: 23859, Value: 2727.58


Outlier index: 23860, Value: 270985.0
Above index: 23859, Value: 2727.58
Below index: 23861, Value: 2709.85


Outlier index: 24158, Value: 277743.0
Above index: 24157, Value: 2764.14
Below index: 24159, Value: 2784.08


Outlier index: 24737, Value: 275197.0
Above index: 24736, Value: 1922.1
Below index: 24738, Value: 2749.51


Column: TREATED WATER PRODUCTION IN m3/h
Lower Limit: -636.4263298746091
Upper Limit: 6356.6116081901955
No. of outliers: 16
12       29179.39
1872     33344.94
2464     32401.09
3293     34365.81
3355     13054.90
3454     33514.45
3691     33388.57
4541     34282.39
6791     60401.93
7777     32259.72
8640     31204.67
11411    33508.86
12904    32922.21
13893    23538.51
21201    35447.16
23183    34842.45
Name: TREATED WATER PRODUCTION IN m3/h, dtype: float64


Outlier index: 12, Value: 29179.39
Above index: 11, Value: 3049.11
Below index: 13, Value: 2802.32


Outlier index: 1872, Value: 33344.94
Above index: 1871, Value: 3345.2
Below index: 1873, Value: 3292.14


Outlier index: 2464, Value: 32401.09
Above index: 2463, Value: 3366.23
Below index: 2465, Value: 3365.02


Outlier index: 3293, Value: 34365.81
Above index: 3292, Value: 3456.96
Below index: 3294, Value: 3452.02


Outlier index: 3355, Value: 13054.9
Above index: 3354, Value: 3388.58
Below index: 3356, Value: 3325.98


Outlier index: 3454, Value: 33514.45
Above index: 3453, Value: 3350.55
Below index: 3455, Value: 3345.34


Outlier index: 3691, Value: 33388.57
Above index: 3690, Value: 3344.96
Below index: 3692, Value: 3382.14


Outlier index: 4541, Value: 34282.39
Above index: 4540, Value: 3428.16
Below index: 4542, Value: 3396.15


Outlier index: 6791, Value: 60401.93
Above index: 6790, Value: 2334.33
Below index: 6792, Value: 2332.85


Outlier index: 7777, Value: 32259.72
Above index: 7776, Value: 3242.85
Below index: 7778, Value: 3262.76


Outlier index: 8640, Value: 31204.67
Above index: 8639, Value: 3172.86
Below index: 8641, Value: 3167.94


Outlier index: 11411, Value: 33508.86
Above index: 11410, Value: 3345.45
Below index: 11412, Value: 3362.84


Outlier index: 12904, Value: 32922.21
Above index: 12903, Value: 3346.2
Below index: 12905, Value: 3237.82


Outlier index: 13893, Value: 23538.51
Above index: 13892, Value: 2353.48
Below index: 13894, Value: 2353.58


Outlier index: 21201, Value: 35447.16
Above index: 21200, Value: 3502.04
Below index: 21202, Value: 3490.84


Outlier index: 23183, Value: 34842.45
Above index: 23182, Value: 3489.04
Below index: 23184, Value: 3484.62

In [126]:
max_values_df = df['CLEAR WATER PUMPING FLOW m3/h'].sort_values(ascending=False).to_frame()
max_values_df[:60]#.to_excel('clear_water_pumping_flow_outliers.xlsx')

       CLEAR WATER PUMPING FLOW m3/h
9838                       369237.00
11190                      368234.00
9116                       365485.00
10816                      289531.00
33                         288856.95
9925                       284515.00
23848                      283508.00
15876                      282967.00
23464                      282823.00
19155                      281493.00
20584                      280402.00
14738                      280378.00
23463                      280118.00
18371                      280070.00
17627                      280070.00
10896                      279873.00
23030                      279832.00
9416                       278062.00
24158                      277743.00
23858                      277078.00
18955                      276681.00
18211                      276681.00
15894                      276454.00
15906                      276454.00
16833                      275498.00
23056                      275386.00
23857                      275306.00
24737                      275197.00
15671                      273287.00
23731                      272446.00
21571                      272356.00
23860                      270985.00
20405                      187226.00
23670                      184260.00
21318                      182463.00
4510                        37712.98
1982                        29076.81
3590                        28903.86
23491                       28742.76
1346                        28037.94
13372                       28012.73
1342                        28011.65
10839                       27784.94
21907                       27700.60
17332                       27458.00
5952                        27129.82
1219                        22889.09
24670                       18013.61
6976                         9643.97
21314                        9236.01
21315                        9226.24
21316                        9223.04
1757                         5857.70
1766                         3989.91
2270                         3926.24
2551                         3914.10
2822                         3907.18
1450                         3898.75
2553                         3896.45
2663                         3896.15

In [137]:
df[21313:21317]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
21313,2022-04-07,1:00,2521.24,2.24,1834.24,2440.06,NaN
21314,2022-04-07,2:00,1225.07,2.31,1834.24,1185.62,NaN
21315,2022-04-07,3:00,1224.64,2.48,1834.24,1185.21,NaN
21316,2022-04-07,4:00,1225.02,2.64,1834.24,1185.57,NaN