In [105]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import re
from datetime import datetime

In [106]:
df=pd.read_csv('All_Errors_Corrected.csv',parse_dates=['Standardized_Date'])
df

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
0,2024-08-01,1:00,2561.58,2.32,1996.36,2479.10,NaN
1,2024-08-01,2:00,2510.71,2.49,1984.73,2429.87,NaN
2,2024-08-01,3:00,2489.32,2.71,1998.56,2409.16,NaN
3,2024-08-01,4:00,2444.78,2.79,1972.01,2366.06,NaN
4,2024-08-01,5:00,2417.47,2.99,1945.42,2339.63,NaN
...,...,...,...,...,...,...,...
24788,2021-12-31,20:00,2499.51,2.89,1851.25,2419.03,NaN
24789,2021-12-31,21:00,2477.10,3.06,1878.95,2397.34,NaN
24790,2021-12-31,22:00,2470.76,3.25,1913.29,2391.20,NaN
24791,2021-12-31,23:00,2492.04,3.30,1904.43,2411.80,NaN
24792,2021-12-31,0:00,2494.18,3.33,1896.67,2413.87,NaN

In [110]:
df.REMARKS.unique()

array([nan, 'Intake jumping well cleaning', 'power failure at intake',
       'power failure at intake and ftp',
       'Jumping stopped due to power failure at intake',
       'Jumping stopped due to maintenance work at WTP and Intake',
       'Jumping stopped for maintenance work & NHAI work.',
       'of jumping stopped', 'Power failure @ intake',
       'Saw Later Leading not available due to PLC complaint.',
       'power failure at 7.28 to 7.36 pm',
       'Distribution line maintenance', 'Permitted power failure.',
       'power failure', 'channel cleaning',
       'stopped due to intake backwash', 'intake back wash',
       'let chamber cleaning', 'power failure at ftp 6.03 to.am',
       'Jumping stopped due to pipe line maintenance at taliparamba',
       'Gravity line air valve maintenance', 'stopped for maintenance',
       'power failed @9.45 to 2.25', '3', 'distribution line maintenance',
       'Jumping Stopped Due to permitted Power failure at intake', '1',
       'voltage fluctuation at intake', 'Jumping stopped due to',
       'Intake chamber cleaning', 'jumping stopped due to snake',
       'chamber cleaning', 'jumping started', 'intake chamber cleaning',
       'under voltage', 'intake backwash',
       'Jumping Stopped due to intake', 'Jump Level Now',
       'Jumping Stopped due to Intake',
       'permitted power failure at Intake', 'Power Failure at Intake',
       'Pipe line broken at Taliparamba', 'Power failure at WTP',
       'Power failure at Intake', 'Power failure at intake',
       'POWER FAILURE', 'Power failure at intakeand WTP',
       'permitted power failure', 'maintenance at Thaliparamba',
       'maintenance work at Intake', 'informed power failure at',
       'intake', 'Maintenance Work at', 'Intake', 'Power failure',
       'PERMITTED POWER', 'FAILURE of WTP', 'TWR Bank cleaning',
       'Energy Auditing', 'Power Failure at intake', 'Power Failure'],
      dtype=object)

In [97]:
df.REMARKS.unique()

array([nan, 'Intake pumping well cleaning', 'power failure at intake',
       'power failur at intake and wtp',
       'Pumping stopped due to power failure at intake',
       'Pumping stopped due to maintanance work at WTP and Intake',
       'Pumping stopped for maintanance work & NHAI work.',
       'RW pumping stopped', 'Power failure @ intake',
       'Raw Water Reading not available due to PLC complaint.',
       'power failure at 7.28 to 7.36 pm',
       'Distribution line maintanance', 'Permitted power failure.',
       'power failure', 'channel cieaning',
       'stopped due to intake backwash', 'intake back wash',
       'inlet chamber cleaning', 'power failure at wtp 6.03 to6.40am',
       'Pumping stopped due to pipe line maintanance at taliparamba',
       'power failur', 'Gravity line air valve maintenance',
       'stopped for maintanance', 'power failuire at intake',
       'power failed @9.45 to 2.25', '3', 'distribution line maintanance',
       'Pumping Stoped Due to permitted Power failure at intake', '1',
       'voltage fluctation at intake', 'Pumping stopped due to',
       'Intake chamber cleaning', 'pumping sopped due to inake',
       'chamber cleaning', 'pumping started', 'intake chamber cleaning',
       'under voltage', 'intake backwash', 'Pumping Stoped due to intake',
       'Sump Level Low', 'Pumping Stopped due to intake',
       'Pumping Stoped due to Intake',
       'permitted power failure at Intake', 'Power Failure at Intake',
       'Pipe line broken at Taliparamba', 'Power failure at WTP',
       'Power failure at Intake', 'Power failure at intake',
       'POWER FAILURE', 'Power failure at intakeand WTP',
       'permitted power failure', 'maintenance at Thaliparamba',
       'maintenance work at Intake', 'informed power failure at',
       'intake', 'Maintenance Work at', 'Intake', 'Power failure',
       'PERMITTED POWER', 'FAILURE AT WTP', 'TWR Tank cleaning',
       'Energy Auditing', 'Power Failure at intake', 'Power Failure'],
      dtype=object)

In [98]:
df_filtered = df[df['REMARKS'].str.contains('power', case=False,na=False)| 
                     df['REMARKS'].str.contains('failure', case=False)|df['REMARKS'].str.contains('voltage', case=False)]
df_filtered

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
2202,2024-05-03,19:00,0.00,3.88,0.00,0.00,power failure at intake
2489,2024-05-15,18:00,0.00,3.30,2899.64,0.00,power failur at intake and wtp
3343,2024-04-20,8:00,0.00,3.62,0.00,0.00,Pumping stopped due to power failure at intake
3344,2024-04-20,9:00,0.00,3.51,0.00,0.00,Pumping stopped due to power failure at intake
5551,2024-01-22,8:00,0.00,3.38,3719.28,0.00,Power failure @ intake
7410,2023-10-07,19:00,3388.65,3.64,3695.58,3279.54,power failure at 7.28 to 7.36 pm
9106,2023-06-17,11:00,NaN,NaN,NaN,0.00,Permitted power failure.
9111,2023-06-17,16:00,NaN,NaN,NaN,0.00,power failure
9752,2023-07-14,9:00,0.00,3.07,0.00,0.00,power failure at intake
10206,2023-05-02,7:00,2385.43,3.56,2812.89,2308.62,power failure at wtp 6.03 to6.40am
10858,2023-05-29,11:00,0.00,3.11,0.00,0.00,power failur
12885,2023-08-21,22:00,0.00,2.93,1866.65,0.00,power failuire at intake
13328,2023-02-09,9:00,3532.62,2.93,2787.92,3418.87,power failed @9.45 to 2.25
14216,2023-01-18,9:00,0.00,3.41,0.00,0.00,Pumping Stoped Due to permitted Power failure ...
14217,2023-01-18,10:00,0.00,3.31,0.00,0.00,Pumping Stoped Due to permitted Power failure ...
15176,2022-12-27,8:00,0.00,2.64,2749.58,0.00,voltage fluctation at intake
17655,2022-08-08,15:00,0.00,2.91,0.00,0.00,power failure
17659,2022-08-08,19:00,0.00,3.03,0.00,0.00,power failure
17753,2022-08-12,17:00,0.00,2.38,0.00,0.00,power failure
18164,2022-08-29,20:00,0.00,2.48,0.00,0.00,under voltage
18399,2022-08-08,15:00,0.00,2.91,0.00,0.00,power failure
18403,2022-08-08,19:00,0.00,3.03,0.00,0.00,power failure
18497,2022-08-12,17:00,0.00,2.38,0.00,0.00,power failure
18908,2022-08-29,20:00,0.00,2.48,0.00,0.00,under voltage
19594,2022-07-27,10:00,0.00,3.52,0.00,0.00,permitted power failure at Intake
19816,2022-06-05,16:00,0.00,4.00,0.00,0.00,power failure
19931,2022-06-10,11:00,0.00,2.34,0.00,0.00,Power Failure at Intake
20200,2022-06-21,16:00,0.00,2.15,1834.85,0.00,power failure at intake
20286,2022-06-25,6:00,0.00,NaN,0.00,0.00,Power failure at WTP
20338,2022-06-27,10:00,0.00,2.58,0.00,0.00,Power failure at Intake
20406,2022-06-30,6:00,0.00,NaN,0.00,0.00,Power failure at WTP
20425,2022-05-01,1:00,0.00,3.73,0.00,0.00,Power failure at WTP
20440,2022-05-01,16:00,0.00,3.18,0.00,0.00,Power failure at intake
20496,2022-05-03,0:00,0.00,2.26,2741.36,0.00,POWER FAILURE
20601,2022-05-08,9:00,0.00,2.38,0.00,0.00,Power failure at Intake
20938,2022-05-22,10:00,2475.82,3.92,2842.36,2396.10,power failure
20945,2022-05-22,17:00,0.00,2.21,2736.72,0.00,Power Failure at Intake
21043,2022-05-26,19:00,0.00,2.02,0.00,0.00,Power failure at intakeand WTP
21353,2022-04-08,17:00,0.00,2.39,0.00,0.00,Power failure at Intake
21448,2022-04-12,16:00,0.00,0.00,0.00,0.00,power failure
21476,2022-04-13,20:00,0.00,2.75,0.00,0.00,power failure
21586,2022-04-18,10:00,1250.23,3.79,0.00,1209.97,permitted power failure
21690,2022-04-22,18:00,1224.45,3.35,0.00,1185.02,power failure
21705,2022-04-23,9:00,0.00,2.60,0.00,0.00,permitted power failure
21756,2022-04-25,12:00,0.00,3.34,0.00,0.00,power failure
21778,2022-04-26,10:00,0.00,1.89,0.00,0.00,power failure
21861,2022-04-29,21:00,0.00,2.97,2732.67,0.00,Power failure at Intake
22497,2022-03-26,9:00,NaN,NaN,NaN,0.00,informed power failure at
22769,2022-02-06,17:00,3660.16,3.14,0.00,3542.30,Power failure
22834,2022-02-09,10:00,0.00,3.25,0.00,0.00,Power failure
22954,2022-02-14,10:00,0.00,3.85,0.00,0.00,power failure
23001,2022-02-16,9:00,3604.19,3.33,2781.45,3488.14,PERMITTED POWER
23002,2022-02-16,10:00,0.00,0.00,0.00,0.00,FAILURE AT WTP
23179,2022-02-23,19:00,0.00,2.66,2780.72,0.00,Power failure at intake
23198,2022-02-24,14:00,0.00,2.34,2754.74,0.00,Power failure at intake
23793,2022-01-21,9:00,0.00,3.50,0.00,0.00,Power Failure at intake
23969,2022-01-28,17:00,2523.84,3.85,0.00,2442.57,Power Failure
23970,2022-01-28,18:00,0.00,3.77,1864.75,0.00,Power Failure

In [99]:
combined_filter = df[
    (df['RAW WATER FLOW IN m3/h'] == 0) & 
    (df['CLEAR WATER PUMPING FLOW m3/h'] == 0) & 
    (
        df['REMARKS'].str.contains('power', case=False, na=False) | 
        df['REMARKS'].str.contains('failure', case=False, na=False) | 
        df['REMARKS'].str.contains('voltage', case=False, na=False)
    )
]
combined_filter

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
2202,2024-05-03,19:00,0.0,3.88,0.0,0.0,power failure at intake
3343,2024-04-20,8:00,0.0,3.62,0.0,0.0,Pumping stopped due to power failure at intake
3344,2024-04-20,9:00,0.0,3.51,0.0,0.0,Pumping stopped due to power failure at intake
9752,2023-07-14,9:00,0.0,3.07,0.0,0.0,power failure at intake
10858,2023-05-29,11:00,0.0,3.11,0.0,0.0,power failur
14216,2023-01-18,9:00,0.0,3.41,0.0,0.0,Pumping Stoped Due to permitted Power failure ...
14217,2023-01-18,10:00,0.0,3.31,0.0,0.0,Pumping Stoped Due to permitted Power failure ...
17655,2022-08-08,15:00,0.0,2.91,0.0,0.0,power failure
17659,2022-08-08,19:00,0.0,3.03,0.0,0.0,power failure
17753,2022-08-12,17:00,0.0,2.38,0.0,0.0,power failure
18164,2022-08-29,20:00,0.0,2.48,0.0,0.0,under voltage
18399,2022-08-08,15:00,0.0,2.91,0.0,0.0,power failure
18403,2022-08-08,19:00,0.0,3.03,0.0,0.0,power failure
18497,2022-08-12,17:00,0.0,2.38,0.0,0.0,power failure
18908,2022-08-29,20:00,0.0,2.48,0.0,0.0,under voltage
19594,2022-07-27,10:00,0.0,3.52,0.0,0.0,permitted power failure at Intake
19816,2022-06-05,16:00,0.0,4.00,0.0,0.0,power failure
19931,2022-06-10,11:00,0.0,2.34,0.0,0.0,Power Failure at Intake
20286,2022-06-25,6:00,0.0,NaN,0.0,0.0,Power failure at WTP
20338,2022-06-27,10:00,0.0,2.58,0.0,0.0,Power failure at Intake
20406,2022-06-30,6:00,0.0,NaN,0.0,0.0,Power failure at WTP
20425,2022-05-01,1:00,0.0,3.73,0.0,0.0,Power failure at WTP
20440,2022-05-01,16:00,0.0,3.18,0.0,0.0,Power failure at intake
20601,2022-05-08,9:00,0.0,2.38,0.0,0.0,Power failure at Intake
21043,2022-05-26,19:00,0.0,2.02,0.0,0.0,Power failure at intakeand WTP
21353,2022-04-08,17:00,0.0,2.39,0.0,0.0,Power failure at Intake
21448,2022-04-12,16:00,0.0,0.00,0.0,0.0,power failure
21476,2022-04-13,20:00,0.0,2.75,0.0,0.0,power failure
21705,2022-04-23,9:00,0.0,2.60,0.0,0.0,permitted power failure
21756,2022-04-25,12:00,0.0,3.34,0.0,0.0,power failure
21778,2022-04-26,10:00,0.0,1.89,0.0,0.0,power failure
22834,2022-02-09,10:00,0.0,3.25,0.0,0.0,Power failure
22954,2022-02-14,10:00,0.0,3.85,0.0,0.0,power failure
23002,2022-02-16,10:00,0.0,0.00,0.0,0.0,FAILURE AT WTP
23793,2022-01-21,9:00,0.0,3.50,0.0,0.0,Power Failure at intake

In [102]:
# Apply the filter to the DataFrame and update the 'REMARKS' column
df.loc[
    (df['RAW WATER FLOW IN m3/h'] == 0) & 
    (df['CLEAR WATER PUMPING FLOW m3/h'] == 0) & 
    (
        df['REMARKS'].str.contains('power', case=False, na=False) | 
        df['REMARKS'].str.contains('failure', case=False, na=False) | 
        df['REMARKS'].str.contains('voltage', case=False, na=False)
    ),
    'REMARKS'
] = 'power failure at intake and wtp'

In [104]:
df[2202:2203]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
2202,2024-05-03,19:00,0.0,3.88,0.0,0.0,power failure at intake and wtp

In [84]:
combined_filter1 = df[
    (df['RAW WATER FLOW IN m3/h'] != 0) & 
    (df['CLEAR WATER PUMPING FLOW m3/h'] != 0) & 
    (
        df['REMARKS'].str.contains('power', case=False, na=False) | 
        df['REMARKS'].str.contains('failure', case=False, na=False) | 
        df['REMARKS'].str.contains('voltage', case=False, na=False)
    )
]
combined_filter1

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
7410,2023-10-07,19:00,3388.65,3.64,3695.58,3279.54,power failure at 7.28 to 7.36 pm
9106,2023-06-17,11:00,NaN,NaN,NaN,0.00,Permitted power failure.
9111,2023-06-17,16:00,NaN,NaN,NaN,0.00,power failure
10206,2023-05-02,7:00,2385.43,3.56,2812.89,2308.62,power failure at wtp 6.03 to6.40am
13328,2023-02-09,9:00,3532.62,2.93,2787.92,3418.87,power failed @9.45 to 2.25
20938,2022-05-22,10:00,2475.82,3.92,2842.36,2396.10,power failure
22497,2022-03-26,9:00,NaN,NaN,NaN,0.00,informed power failure at
23001,2022-02-16,9:00,3604.19,3.33,2781.45,3488.14,PERMITTED POWER

In [85]:
combined_filter2 = df[
    (df['RAW WATER FLOW IN m3/h'] == 0) & 
    (df['CLEAR WATER PUMPING FLOW m3/h'] != 0) & 
    (
        df['REMARKS'].str.contains('power', case=False, na=False) | 
        df['REMARKS'].str.contains('failure', case=False, na=False) | 
        df['REMARKS'].str.contains('voltage', case=False, na=False)
    )
]
combined_filter2

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
2489,2024-05-15,18:00,0.0,3.30,2899.64,0.0,power failur at intake and wtp
5551,2024-01-22,8:00,0.0,3.38,3719.28,0.0,Power failure @ intake
12885,2023-08-21,22:00,0.0,2.93,1866.65,0.0,power failuire at intake
15176,2022-12-27,8:00,0.0,2.64,2749.58,0.0,voltage fluctation at intake
20200,2022-06-21,16:00,0.0,2.15,1834.85,0.0,power failure at intake
20496,2022-05-03,0:00,0.0,2.26,2741.36,0.0,POWER FAILURE
20945,2022-05-22,17:00,0.0,2.21,2736.72,0.0,Power Failure at Intake
21861,2022-04-29,21:00,0.0,2.97,2732.67,0.0,Power failure at Intake
23179,2022-02-23,19:00,0.0,2.66,2780.72,0.0,Power failure at intake
23198,2022-02-24,14:00,0.0,2.34,2754.74,0.0,Power failure at intake
23970,2022-01-28,18:00,0.0,3.77,1864.75,0.0,Power Failure

In [86]:
combined_filter3 = df[
    (df['RAW WATER FLOW IN m3/h'] != 0) & 
    (df['CLEAR WATER PUMPING FLOW m3/h'] == 0) & 
    (
        df['REMARKS'].str.contains('power', case=False, na=False) | 
        df['REMARKS'].str.contains('failure', case=False, na=False) | 
        df['REMARKS'].str.contains('voltage', case=False, na=False)
    )
]
combined_filter3

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
21586,2022-04-18,10:00,1250.23,3.79,0.0,1209.97,permitted power failure
21690,2022-04-22,18:00,1224.45,3.35,0.0,1185.02,power failure
22769,2022-02-06,17:00,3660.16,3.14,0.0,3542.30,Power failure
23969,2022-01-28,17:00,2523.84,3.85,0.0,2442.57,Power Failure

In [ ]:
'power failure at intake',
'power failur at intake and wtp',
'Pumping stopped due to power failure at intake',
'Power failure @ intake',
'power failure at 7.28 to 7.36 pm',
'Permitted power failure.',
'power failure'
'power failure at wtp 6.03 to6.40am'
'power failur'
'power failuire at intake'
'power failed @9.45 to 2.25',
'Pumping Stoped Due to permitted Power failure at intake'
'voltage fluctation at intake'
'permitted power failure at Intake'
'Power Failure at Intake'
'Power failure at WTP'
'Power failure at Intake', 
'Power failure at intake',
'POWER FAILURE',
'Power failure at intakeand WTP'
'permitted power failure'
'informed power failure at'
'Power failure',
'PERMITTED POWER', 
'FAILURE AT WTP'
'Power Failure at intake', 
'Power Failure'
'under voltage'