In [16]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df=pd.read_excel("JICA Pattuvam Data full.xlsx")

In [18]:
df.shape

(21169, 7)

In [19]:
df.head()

,DATE,TIME,RAW WATER FLOW IN m3/h\t,CLEAR WATER SUMP LEVEL IN M,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
0,2021-12-01 00:00:00,01:00:00,3510.43,2.84,2777.43,3397.39,NaN
1,2021-12-01 00:00:00,02:00:00,3490.87,3.12,2794.67,3378.46,NaN
2,2021-12-01 00:00:00,03:00:00,3505.43,3.44,2795.43,3392.56,NaN
3,2021-12-01 00:00:00,04:00:00,3515.56,3.72,2798.26,3402.36,NaN
4,2021-12-01 00:00:00,05:00:00,3507.32,4.01,2808.87,3394.38,NaN

In [20]:
df.tail()

,DATE,TIME,RAW WATER FLOW IN m3/h\t,CLEAR WATER SUMP LEVEL IN M,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
21164,2024-04-30 00:00:00,20:00:00,3508.97,3.31,3834.34,3395.98,NaN
21165,2024-04-30 00:00:00,21:00:00,3574.17,3.11,3852.2,3459.08,NaN
21166,2024-04-30 00:00:00,22:00:00,3561.58,2.94,3806.25,3446.90,NaN
21167,2024-04-30 00:00:00,23:00:00,3501.64,2.79,3799.61,3388.89,NaN
21168,2024-04-30 00:00:00,00:00:00,3499.65,2.61,3812.64,3386.96,NaN

In [21]:
df.isnull().sum()

DATE                                    0
TIME                                    0
RAW WATER FLOW IN m3/h\t               57
CLEAR WATER SUMP LEVEL IN M            78
CLEAR WATER PUMPING FLOW m3/h          27
TREATED WATER PRODUCTION IN m3/h        1
REMARKS                             20517
dtype: int64

In [22]:
df['CLEAR WATER SUMP LEVEL IN M'].nunique()

420

In [23]:
df['DATE'] = pd.to_datetime(df['DATE'],errors='coerce')
df['YEAR'] = df['DATE'].dt.year
df['MONTH'] = df['DATE'].dt.month 
df['MONTH-YEAR'] = df['DATE'].dt.strftime('%m-%Y')
# df['DATETIME'] = pd.to_datetime(df['DATE'].astype(str) + ' ' + df['TIME'].astype(str))
# df

In [24]:
df['TIME'].dtype

dtype('O')

In [25]:
df["TIME"].unique()

array([datetime.time(1, 0), datetime.time(2, 0), datetime.time(3, 0),
       datetime.time(4, 0), datetime.time(5, 0), datetime.time(6, 0),
       datetime.time(7, 0), datetime.time(8, 0), datetime.time(9, 0),
       datetime.time(10, 0), datetime.time(11, 0), datetime.time(12, 0),
       datetime.time(13, 0), datetime.time(14, 0), datetime.time(15, 0),
       datetime.time(16, 0), datetime.time(17, 0), datetime.time(18, 0),
       datetime.time(19, 0), datetime.time(20, 0), datetime.time(21, 0),
       datetime.time(22, 0), datetime.time(23, 0), datetime.time(0, 0),
       '01 00', '02 00', '03 00', '04 00', '05 00', '06 00', '07 00',
       '08 00', '09 00', 21, 0, 5, 20, '22 00', '23 00'], dtype=object)

In [26]:
df['TIME'] = df['TIME'].astype(str)

In [27]:
df["TIME"].unique()

array(['01:00:00', '02:00:00', '03:00:00', '04:00:00', '05:00:00',
       '06:00:00', '07:00:00', '08:00:00', '09:00:00', '10:00:00',
       '11:00:00', '12:00:00', '13:00:00', '14:00:00', '15:00:00',
       '16:00:00', '17:00:00', '18:00:00', '19:00:00', '20:00:00',
       '21:00:00', '22:00:00', '23:00:00', '00:00:00', '01 00', '02 00',
       '03 00', '04 00', '05 00', '06 00', '07 00', '08 00', '09 00',
       '21', '0', '5', '20', '22 00', '23 00'], dtype=object)

In [28]:
def convert_time(time_str):
    parts = time_str.split()
    if len(parts) == 1:
        if len(parts[0]) == 1:
            return f'0{parts[0]}:00:00'
        elif len(parts[0]) == 2:
            return f'{parts[0]}:00:00'
    elif len(parts) == 2:
        return f'{parts[0]}:{parts[1]}:00'
    return time_str
df['TIME']= df['TIME'].apply(convert_time)

In [29]:
def clean_value(value):
    if isinstance(value, str):
        # Remove leading and trailing spaces
        value = value.strip()
        
        # Replace commas with dots
        value = value.replace(',', '.')
        
        # If value starts with a dot, move the dot after four digits
        if value.startswith('.'):
            value = value[1:]
            value = value[:4] + '.' + value[4:]
        
        # Remove additional dots
        parts = value.split('.')
        if len(parts) > 2:
            value = parts[0] + '.' + ''.join(parts[1:])
        
        # Remove spaces
        value = value.replace(' ', '')
    return str(value)  # Convert value to string


# Apply the cleaning function to the column
df['CLEAR WATER PUMPING FLOW m3/h'] = df['CLEAR WATER PUMPING FLOW m3/h'].apply(clean_value)

sorted(df['CLEAR WATER PUMPING FLOW m3/h'].unique())

['0',
 '000',
 '1034.76',
 '1759.3',
 '1767.05',
 '1774.81',
 '1776.87',
 '1777.94',
 '1783.67',
 '1784.78',
 '1784.92',
 '1785.89',
 '1785.98',
 '1788.18',
 '1789.44',
 '1789.56',
 '1789.83',
 '1790.21',
 '1790.32',
 '1790.74',
 '1790.87',
 '1791.14',
 '1793.32',
 '1794.56',
 '1794.75',
 '1795.05',
 '1795.16',
 '1796.97',
 '1798.06',
 '1798.07',
 '1799.04',
 '1799.18',
 '1799.19',
 '1799.22',
 '1799.34',
 '1800.22',
 '1800.29',
 '1800.45',
 '1801.07',
 '1801.31',
 '1801.36',
 '1801.4',
 '1801.55',
 '1801.62',
 '1801.73',
 '1801.94',
 '18013.61',
 '1802.61',
 '1802.65',
 '1802.73',
 '1802.81',
 '1802.87',
 '1803.23',
 '1803.26',
 '1803.34',
 '1803.87',
 '1804.72',
 '1804.87',
 '1805.32',
 '1805.54',
 '1805.8',
 '1805.83',
 '1806.23',
 '1806.33',
 '1806.34',
 '1806.94',
 '1808.01',
 '1808.04',
 '1808.32',
 '1808.59',
 '1808.66',
 '1809.09',
 '1809.31',
 '1809.45',
 '1809.57',
 '1809.61',
 '1810.04',
 '1810.23',
 '1810.25',
 '1810.26',
 '1810.33',
 '1810.37',
 '1810.54',
 '1810.76',
 '1810.86',
 '1810.93',
 '1811.34',
 '1811.37',
 '1811.48',
 '1811.5',
 '1811.61',
 '1811.74',
 '1811.92',
 '1812.12',
 '1812.31',
 '1812.34',
 '1812.43',
 '1812.45',
 '1812.48',
 '1812.5',
 '1812.52',
 '1812.56',
 '1812.65',
 '1812.67',
 '1812.75',
 '1813.04',
 '1813.34',
 '1813.37',
 '1813.58',
 '1813.63',
 '1813.84',
 '1813.94',
 '1814.09',
 '1814.36',
 '1814.45',
 '1814.69',
 '1814.72',
 '1814.91',
 '1814.93',
 '1814.99',
 '1815.01',
 '1815.33',
 '1815.38',
 '1815.43',
 '1815.65',
 '1815.87',
 '1815.92',
 '1816.51',
 '1816.77',
 '1816.91',
 '1816.96',
 '1816.97',
 '1817',
 '1817.33',
 '1817.72',
 '1817.74',
 '1817.83',
 '1818.01',
 '1818.09',
 '1818.15',
 '1818.17',
 '1818.53',
 '1819.09',
 '1819.1',
 '1819.12',
 '1819.23',
 '1820.12',
 '1820.17',
 '1820.22',
 '1820.23',
 '1820.31',
 '1820.45',
 '1820.56',
 '1820.6',
 '1820.68',
 '1820.71',
 '1821.07',
 '1821.12',
 '1821.23',
 '1821.24',
 '1821.26',
 '1821.34',
 '1821.5',
 '1821.51',
 '1821.56',
 '1821.72',
 '1821.87',
 '1821.96',
 '1821.97',
 '1822.31',
 '1822.45',
 '1822.51',
 '1822.54',
 '1822.77',
 '1822.79',
 '1822.97',
 '1823.07',
 '1823.09',
 '1823.27',
 '1823.32',
 '1823.43',
 '1823.45',
 '1823.55',
 '1823.63',
 '1823.76',
 '1823.78',
 '1823.81',
 '1823.96',
 '1823.98',
 '1824.23',
 '1824.34',
 '1824.56',
 '1824.63',
 '1824.73',
 '1824.86',
 '1825.06',
 '1825.23',
 '1825.31',
 '1825.61',
 '1825.69',
 '1825.77',
 '1825.86',
 '1825.94',
 '1825.98',
 '1826.02',
 '1826.12',
 '1826.19',
 '1826.29',
 '1826.36',
 '1826.39',
 '1826.42',
 '1826.45',
 '1826.51',
 '1826.56',
 '1826.71',
 '1826.72',
 '1826.74',
 '1826.79',
 '1826.88',
 '1826.91',
 '1827.09',
 '1827.16',
 '1827.19',
 '1827.2',
 '1827.22',
 '1827.26',
 '1827.29',
 '1827.36',
 '1827.41',
 '1827.43',
 '1827.56',
 '1827.92',
 '1827.99',
 '1828.09',
 '1828.34',
 '1828.37',
 '1828.38',
 '1828.43',
 '1828.52',
 '1828.97',
 '1829.09',
 '1829.11',
 '1829.34',
 '1829.36',
 '1829.42',
 '1829.43',
 '1829.5',
 '1829.57',
 '1829.67',
 '1829.68',
 '1829.8',
 '1829.99',
 '1830.03',
 '1830.2',
 '1830.3',
 '1830.33',
 '1830.39',
 '1830.45',
 '1830.47',
 '1830.6',
 '1830.66',
 '1830.88',
 '1830.99',
 '1831.01',
 '1831.02',
 '1831.09',
 '1831.12',
 '1831.17',
 '1831.21',
 '1831.27',
 '1831.31',
 '1831.34',
 '1831.41',
 '1831.6',
 '1831.63',
 '1831.81',
 "1832'32",
 '1832.06',
 '1832.16',
 '1832.23',
 '1832.24',
 '1832.27',
 '1832.28',
 '1832.32',
 '1832.34',
 '1832.42',
 '1832.43',
 '1832.44',
 '1832.45',
 '1832.47',
 '1832.53',
 '1832.54',
 '1832.56',
 '1832.57',
 '1832.61',
 '1832.63',
 '1832.64',
 '1832.65',
 '1832.76',
 '1832.78',
 '1832.84',
 '1832.87',
 '1832.9',
 '1832.92',
 '1832.93',
 '1832.97',
 '1833.06',
 '1833.2',
 '1833.25',
 '1833.27',
 '1833.35',
 '1833.48',
 '1833.52',
 '1833.55',
 '1833.65',
 '1833.77',
 '1833.78',
 '1833.83',
 '1834.09',
 '1834.12',
 '1834.23',
 '1834.24',
 '1834.26',
 '1834.27',
 '1834.28',
 '1834.34',
 '1834.36',
 '1834.37',
 '1834.43',
 '1834.45',
 '1834.53',
 '1834.56',
 '1834.57',
 '1834.6',
 '1834.63',
 '1834.64',
 '1834.65',
 '1834.67',
 '1834.75',
 '1834.76',
 '1834.78',
 '1834.81',
 '1834.85',
 '1834.87',
 '1834.89',
 '1834.91',
 '1834.98',
 '1835.07',
 '1835.09',
 '1835.12',
 '1835.19',
 '1835.23',
 '1835.32',
 '1835.43',
 '1835.51',
 '1835.56',
 '1835.62',
 '1835.67',
 '1835.74',
 '1835.78',
 '1835.82',
 '1836.01',
 '1836.08',
 '1836.12',
 '1836.14',
 '1836.17',
 '1836.19',
 '1836.26',
 '1836.28',
 '1836.34',
 '1836.35',
 '1836.36',
 '1836.37',
 '1836.39',
 '1836.43',
 '1836.56',
 '1836.63',
 '1836.71',
 '1836.72',
 '1836.73',
 '1836.76',
 '1836.78',
 '1836.84',
 '1836.85',
 '1836.91',
 '1836.92',
 '1836.93',
 '1836.96',
 '1837.04',
 '1837.14',
 '1837.25',
 '1837.33',
 '1837.35',
 '1837.52',
 '1837.54',
 '1837.6',
 '1837.71',
 '1837.76',
 '1837.84',
 '1837.85',
 '1837.96',
 '1838.04',
 '1838.12',
 '1838.25',
 '1838.43',
 '1838.47',
 '1838.73',
 '1839.06',
 '1839.07',
 '1839.18',
 '1839.27',
 '1839.32',
 '1839.34',
 '1839.42',
 '1839.43',
 '1839.45',
 '1839.55',
 '1839.64',
 '1839.88',
 '1839.89',
 '1839.94',
 '1840.01',
 '1840.09',
 '1840.14',
 '1840.17',
 '1840.21',
 '1840.28',
 '1840.31',
 '1840.35',
 '1840.37',
 '1840.39',
 '1840.42',
 '1840.45',
 '1840.47',
 '1840.6',
 '1840.61',
 '1840.64',
 '1840.7',
 '1840.74',
 '1840.81',
 '1840.95',
 '1840.96',
 '1841.04',
 '1841.14',
 '1841.22',
 '1841.24',
 '1841.25',
 '1841.26',
 '1841.27',
 '1841.28',
 '1841.31',
 '1841.34',
 '1841.52',
 '1841.63',
 '1841.65',
 '1841.78',
 '1841.79',
 '1841.82',
 '1841.83',
 '1841.88',
 '1841.9',
 '1841.91',
 '1842.01',
 '1842.03',
 '1842.06',
 '1842.14',
 '1842.28',
 '1842.32',
 '1842.33',
 '1842.35',
 '1842.39',
 '1842.42',
 '1842.43',
 '1842.51',
 '1842.54',
 '1842.55',
 '1842.57',
 '1842.60',
 '1842.62',
 '1842.67',
 '1842.68',
 '1842.74',
 '1842.78',
 '1842.86',
 '1842.87',
 '1842.88',
 '1842.95',
 '1843.02',
 '1843.04',
 '1843.11',
 '1843.17',
 '1843.23',
 '1843.26',
 '1843.34',
 '1843.39',
 '1843.47',
 '1843.48',
 '1843.5',
 '1843.51',
 '1843.54',
 '1843.56',
 '1843.64',
 '1843.67',
 '1843.71',
 '1843.76',
 '1843.78',
 '1843.79',
 '1843.82',
 '1843.87',
 '1843.97',
 '1843.98',
 '1843.99',
 '1844.03',
 '1844.07',
 '1844.09',
 '1844.11',
 '1844.13',
 '1844.14',
 '1844.24',
 '1844.28',
 '1844.35',
 '1844.39',
 '1844.42',
 '1844.45',
 '1844.52',
 '1844.6',
 '1844.62',
 '1844.64',
 '1844.65',
 '1844.67',
 '1844.71',
 '1844.72',
 '1844.76',
 '1844.82',
 '1844.9',
 '1844.92',
 '1844.94',
 '1844.96',
 '1845.2',
 '1845.22',
 '1845.23',
 '1845.26',
 '1845.29',
 '1845.33',
 '1845.34',
 '1845.37',
 '1845.48',
 '1845.56',
 '1845.57',
 '1845.62',
 '1845.65',
 '1845.69',
 '1845.71',
 '1845.78',
 '1845.81',
 '1845.82',
 '1845.87',
 '1845.89',
 '1845.93',
 '1845.98',
 '1846.06',
 '1846.23',
 '1846.46',
 '1846.52',
 '1846.54',
 '1846.56',
 '1846.57',
 '1846.58',
 '1846.64',
 '1846.65',
 '1846.66',
 '1846.68',
 '1846.72',
 '1846.75',
 '1846.81',
 '1846.82',
 '1846.91',
 '1846.92',
 '1846.96',
 '1847.01',
 '1847.06',
 '1847.09',
 '1847.21',
 '1847.22',
 '1847.32',
 '1847.34',
 '1847.39',
 '1847.62',
 '1847.82',
 '1847.93',
 '1847.98',
 '1848.34',
 '1848.38',
 '1848.43',
 '1848.48',
 '1848.52',
 '1848.56',
 '1848.6',
 '1848.71',
 '1848.74',
 '1848.77',
 '1848.93',
 '1849.03',
 '1849.06',
 '1849.13',
 '1849.28',
 '1849.3',
 '1849.44',
 '1849.45',
 '1849.46',
 '1849.54',
 '1849.55',
 '1849.56',
 '1849.57',
 '1849.71',
 '1849.72',
 '1849.85',
 '1849.87',
 '1849.9',
 '1849.92',
 '1850.03',
 '1850.14',
 '1850.17',
 '1850.22',
 '1850.25',
 '1850.31',
 '1850.32',
 '1850.34',
 '1850.36',
 '1850.41',
 '1850.46',
 '1850.47',
 '1850.49',
 '1850.5',
 '1850.56',
 '1850.62',
 '1850.65',
 '1850.67',
 '1850.68',
 '1850.71',
 '1850.75',
 '1850.92',
 '1850.98',
 '1851.01',
 '1851.11',
 '1851.16',
 '1851.22',
 '1851.24',
 '1851.25',
 '1851.28',
 '1851.29',
 '1851.33',
 '1851.44',
 '1851.52',
 '1851.57',
 '1851.59',
 '1851.63',
 '1851.65',
 '1851.66',
 '1851.67',
 '1851.68',
 '1851.78',
 '1851.85',
 '1851.88',
 '1851.93',
 '1852.01',
 '1852.16',
 '1852.22',
 '1852.25',
 '1852.33',
 '1852.36',
 '1852.45',
 '1852.57',
 '1852.68',
 '1852.73',
 '1852.76',
 '1852.78',
 '1852.79',
 '1852.81',
 '1852.86',
 '1852.89',
 '1852.9',
 '1852.91',
 '1852.93',
 '1852.95',
 '1853.12',
 '1853.27',
 '1853.36',
 '1853.47',
 '1853.6',
 '1853.66',
 '1853.68',
 '1853.73',
 '1853.81',
 '1853.92',
 '1853.93',
 '1854.01',
 '1854.14',
 '1854.21',
 '1854.22',
 '1854.23',
 '1854.24',
 '1854.25',
 '1854.27',
 '1854.28',
 '1854.31',
 '1854.33',
 '1854.34',
 '1854.36',
 '1854.37',
 '1854.38',
 '1854.41',
 '1854.44',
 '1854.5',
 '1854.52',
 '1854.55',
 '1854.56',
 '1854.57',
 '1854.64',
 '1854.65',
 '1854.67',
 '1854.73',
 '1854.76',
 '1854.78',
 '1854.79',
 '1854.87',
 '1854.89',
 '1854.98',
 '1854.99',
 '1855.05',
 '1855.08',
 '1855.17',
 '1855.19',
 '1855.2',
 '1855.22',
 '1855.32',
 '1855.39',
 '1855.41',
 '1855.45',
 '1855.47',
 '1855.61',
 '1855.62',
 '1855.63',
 '1855.67',
 '1855.68',
 '1855.71',
 '1855.97',
 '1856.12',
 '1856.14',
 '1856.17',
 '1856.23',
 '1856.24',
 '1856.25',
 '1856.27',
 '1856.29',
 '1856.32',
 '1856.34',
 '1856.36',
 '1856.37',
 '1856.43',
 '1856.45',
 '1856.52',
 '1856.54',
 '1856.56',
 '1856.59',
 '1856.6',
 '1856.61',
 '1856.62',
 '1856.65',
 '1856.67',
 '1856.68',
 '1856.71',
 '1856.76',
 '1856.77',
 '1856.79',
 '1856.81',
 '1856.87',
 '1856.89',
 '1856.98',
 '1857.23',
 '1857.28',
 '1857.45',
 '1857.47',
 '1857.48',
 '1857.52',
 '1857.54',
 '1857.55',
 '1857.58',
 '1857.63',
 '1857.65',
 '1857.67',
 '1857.73',
 '1857.78',
 '1857.79',
 '1857.9',
 '1857.91',
 '1857.93',
 '1857.96',
 '1857.97',
 '1858.04',
 '1858.14',
 '1858.17',
 '1858.23',
 '1858.38',
 '1858.45',
 '1858.76',
 '1858.98',
 '1859.01',
 '1859.04',
 '1859.06',
 '1859.11',
 '1859.15',
 '1859.17',
 '1859.28',
 '1859.33',
 '1859.34',
 '1859.39',
 '1859.49',
 '1859.52',
 '1859.55',
 '1859.56',
 '1859.78',
 '1859.87',
 '1859.94',
 '1860.11',
 '1860.12',
 '1860.17',
 '1860.19',
 '1860.23',
 '1860.25',
 '1860.27',
 '1860.34',
 '1860.36',
 '1860.41',
 '1860.55',
 '1860.6',
 '1860.65',
 '1860.72',
 '1860.73',
 '1860.77',
 '1860.96',
 '1861.19',
 '1861.22',
 '1861.33',
 '1861.43',
 '1861.48',
 '1861.55',
 '1861.63',
 '1861.65',
 '1861.67',
 '1861.78',
 '1861.79',
 '1861.81',
 '1861.87',
 '1861.94',
 '1862',
 '1862.03',
 '1862.11',
 '1862.13',
 '1862.22',
 '1862.24',
 '1862.25',
 '1862.33',
 '1862.36',
 '1862.45',
 '1862.54',
 '1862.56',
 '1862.58',
 '1862.59',
 '1862.62',
 '1862.68',
 '1862.72',
 '1862.74',
 '1862.76',
 '1862.82',
 '1862.87',
 '1862.88',
 '1862.96',
 '1862.98',
 '1863.13',
 '1863.21',
 '1863.23',
 '1863.25',
 '1863.3',
 '1863.34',
 '1863.38',
 '1863.44',
 '1863.49',
 '1863.54',
 '1863.55',
 '1863.57',
 '1863.64',
 '1863.65',
 '1863.67',
 '1863.72',
 '1863.84',
 '1863.87',
 '1863.92',
 '1864.01',
 '1864.09',
 '1864.12',
 '1864.21',
 '1864.32',
 '1864.33',
 '1864.34',
 '1864.42',
 '1864.45',
 '1864.49',
 '1864.55',
 '1864.65',
 '1864.73',
 '1864.75',
 '1864.87',
 '1864.97',
 '1864.98',
 '1865.09',
 '1865.11',
 '1865.21',
 '1865.23',
 '1865.3',
 '1865.34',
 '1865.39',
 '1865.42',
 '1865.44',
 '1865.45',
 '1865.46',
 '1865.49',
 '1865.55',
 '1865.56',
 '1865.57',
 '1865.65',
 '1865.67',
 '1865.73',
 '1865.76',
 '1865.78',
 '1865.79',
 '1865.87',
 '1865.88',
 '1865.9',
 '1865.92',
 '1865.98',
 '1865.99',
 '1866.19',
 '1866.21',
 '1866.22',
 '1866.25',
 '1866.26',
 '1866.29',
 '1866.34',
 '1866.35',
 '1866.38',
 '1866.41',
 '1866.43',
 '1866.49',
 '1866.52',
 '1866.56',
 '1866.64',
 '1866.65',
 '1866.68',
 '1866.73',
 '1866.76',
 '1866.79',
 '1866.83',
 '1866.87',
 '1866.92',
 '1866.98',
 '1867',
 '1867.01',
 '1867.02',
 '1867.07',
 '1867.16',
 '1867.18',
 '1867.23',
 '1867.26',
 '1867.3',
 '1867.32',
 '1867.34',
 '1867.38',
 '1867.39',
 '1867.45',
 '1867.56',
 '1867.58',
 '1867.62',
 '1867.65',
 '1867.67',
 '1867.71',
 '1867.72',
 '1867.78',
 '1867.83',
 '1867.87',
 '1867.89',
 '1867.98',
 '1868.01',
 '1868.05',
 '1868.08',
 '1868.12',
 '1868.23',
 '1868.27',
 '1868.32',
 '1868.33',
 ...]

In [30]:
import re

# Convert column to string
df['CLEAR WATER SUMP LEVEL IN M'] = df['CLEAR WATER SUMP LEVEL IN M'].astype(str)

# Define a function to format the numbers
def format_numbers(value):
    # Remove anything that is not a digit or a decimal point
    value = re.sub(r'[^\d.]', '', value)
    # If there is only one decimal point, no change is needed
    if value.count('.') == 1:
        return value
    # If there is more than one decimal point, add one at the first digit
    elif value.count('.') > 1:
        index = value.find('.')
        return value[:index] + '.' + value[index+1:].replace('.', '')
    # If there is no decimal point, add it after the first digit
    else:
        return value[:1] + '.' + value[1:]

# Apply the function to the column
df['CLEAR WATER SUMP LEVEL IN M'] = df['CLEAR WATER SUMP LEVEL IN M'].apply(format_numbers)

In [31]:
df['CLEAR WATER SUMP LEVEL IN M'].nunique()

328

In [ ]:
d

In [15]:
df.isnull().sum()

DATE                                    4
TIME                                    0
RAW WATER FLOW IN m3/h\t               57
CLEAR WATER SUMP LEVEL IN M             0
CLEAR WATER PUMPING FLOW m3/h           0
TREATED WATER PRODUCTION IN m3/h        1
REMARKS                             20517
YEAR                                    4
MONTH                                   4
MONTH-YEAR                              4
dtype: int64

In [18]:
df.isnull().sum()

DATE                                    4
TIME                                    0
RAW WATER FLOW IN m3/h\t               57
CLEAR WATER SUMP LEVEL IN M             0
CLEAR WATER PUMPING FLOW m3/h           0
TREATED WATER PRODUCTION IN m3/h        1
REMARKS                             20517
YEAR                                    4
MONTH                                   4
MONTH-YEAR                              4
dtype: int64

In [19]:
df['DATE'].bfill(inplace=True)
df['YEAR'].bfill(inplace=True)
df['MONTH'].bfill(inplace=True)
df['MONTH-YEAR'].bfill(inplace=True)
df['TREATED WATER PRODUCTION IN m3/h'].bfill(inplace=True)
df['RAW WATER FLOW IN m3/h\t'].fillna('NO DATA', inplace=True)
df['CLEAR WATER SUMP LEVEL IN M'].fillna('NO DATA', inplace=True)
df['CLEAR WATER PUMPING FLOW m3/h'].fillna('NO DATA', inplace=True)
df['REMARKS'].fillna('No Remarks', inplace=True)

df.isnull().sum()

DATE                                0
TIME                                0
RAW WATER FLOW IN m3/h\t            0
CLEAR WATER SUMP LEVEL IN M         0
CLEAR WATER PUMPING FLOW m3/h       0
TREATED WATER PRODUCTION IN m3/h    0
REMARKS                             0
YEAR                                0
MONTH                               0
MONTH-YEAR                          0
dtype: int64

In [20]:
df['DATETIME'] = pd.to_datetime(df['DATE'].astype(str) + ' ' + df['TIME'].astype(str))

In [21]:
df.drop_duplicates(inplace=True)
df.shape

(21169, 11)

In [ ]:
# df.to_csv("New Cleaned JICA Pattuvam Data.csv", index=False)

In [ ]:
# df_treated = df[['DATE', 'TIME', 'TREATED WATER PRODUCTION IN m3/h','REMARKS']]
# df_treated.shape

In [ ]:
# df_treated.to_csv('df_treated.csv',index=False)