In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv('All_Errors_Corrected.csv',parse_dates=['Standardized_Date'])
data.head()

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
0,2024-08-01,1:00,2561.58,2.32,1996.36,2479.10,NaN
1,2024-08-01,2:00,2510.71,2.49,1984.73,2429.87,NaN
2,2024-08-01,3:00,2489.32,2.71,1998.56,2409.16,NaN
3,2024-08-01,4:00,2444.78,2.79,1972.01,2366.06,NaN
4,2024-08-01,5:00,2417.47,2.99,1945.42,2339.63,NaN

In [3]:
# Correcting issue of 08-2022
data[data['Standardized_Date']=='2022-08-31']
# at index 18217 repetition started and ends at 18960
data.iloc[18216:18300]
data = data.drop(data.index[18217:18961])
data = data.reset_index(drop=True)
data.shape
# data[data['Standardized_Date']=='2022-08-31']
 
# # correcting the date where the two hours where misplaced
data[data['Standardized_Date']=='2022-08-20']
data.iloc[17927:17929]
# Replace the dates at indices 17927 and 17929 with the date from index 17926
data.loc[[17927, 17929], 'Standardized_Date'] = data.loc[17926,'Standardized_Date']
data.loc[[17928], 'STANDARDIZED_TIME'] = '1:00'
 
# # correcting date 2023-10-09 which was misplaced as 2023-10-10 
data[data['Standardized_Date']=='2023-10-11']
data.iloc[7440:7464]
# Replace the date in the column for the range of indices 7440 to 7464
data.loc[7440:7463, 'Standardized_Date'] = pd.Timestamp('2023-10-09')
 
# # 2023-11-09 is misplaced as 2023 -11-10 and 2023-11-10 is misplaced as 2023 -11-11
data[data['Standardized_Date']=='2023-11-10']
data.iloc[6720:6743]
data.loc[6720:6743, 'Standardized_Date'] = pd.Timestamp('2023-11-09')
data[data['Standardized_Date']=='2023-11-11']
data.iloc[6744:6767]
data.loc[6744:6767, 'Standardized_Date'] = pd.Timestamp('2023-11-10')
 
# # 2022-03-28 *48 since 2022 -05-28 is misplaced as 2022-03-2028
data[data['Standardized_Date']=='2022-03-28']
data.iloc[21790:21805]
# Replace the date in the column for the range of indices 20330 to 20354
data.loc[20329:20352, 'Standardized_Date'] = pd.Timestamp('2022-05-28')
 
# # 2022-05-16 (*25) since the 0:00 of  2022-05-15 was given this date,2023-05-14 the 0:00 of 2023-05-13 was given this date, the 0:00 of  2022-06-15 was given date 2022-06-16,same issue in 2023-01-07,same at 2022-07-16,same at 2022-12-07,same at 2022-04-16,same at 2022-12-01,same at 2022-03-16
# Loop through the DataFrame and check rows where time is '0:00'
 
for idx in data.index:
    if data.loc[idx, 'STANDARDIZED_TIME'] == '0:00':
        # Check the previous row's date and time
        if idx > 0:  # Ensure we are not checking the first row
            prev_date = data.loc[idx - 1, 'Standardized_Date']
            prev_time = data.loc[idx - 1, 'STANDARDIZED_TIME']
            # If the previous row's time is '23:00' and the dates are different
            if (prev_time == '23:00') and (prev_date != data.loc[idx, 'Standardized_Date']):
                # Reassign the current row's date to the previous date
                data.loc[idx, 'Standardized_Date'] = prev_date
# Dropping the error row with index 14544
data = data.drop(index=14544)
# Reset the index and drop the old index
data = data.reset_index(drop=True)
 
data[data['Standardized_Date']=='2022-08-28']
# Change the time at index 18126 to '7:00'
data.loc[18126, 'STANDARDIZED_TIME'] = '7:00'
 
#  2023-02-06 was also given to 3:00 of 2022-02-06
data[data['Standardized_Date']=='2022-02-06']
data.iloc[22005:22015]
data.loc[22009, 'Standardized_Date'] = pd.Timestamp('2022-02-06')
data.loc[22010, 'Standardized_Date'] = pd.Timestamp('2022-02-06')
 
# instead of 2023-08-10 the date 2023-10-08 is given at 20:00
data[data['Standardized_Date']=='2023-10-08']
data.loc[12619, 'Standardized_Date'] = pd.Timestamp('2023-08-10')
 
# 2022-06-04 was placed at 1:00 of 2022-07-04
data[data['Standardized_Date']=='2022-06-04']
data.loc[18288, 'Standardized_Date'] = pd.Timestamp('2022-07-04')
 
# 2023-03-20 at 2:00 was placed instead of 2023-03-21
data[data['Standardized_Date']=='2023-03-20']
data.loc[12121, 'Standardized_Date'] = pd.Timestamp('2023-03-21')
 
data[data['Standardized_Date']=='2023-12-03']
data.loc[11912, 'Standardized_Date'] = pd.Timestamp('2023-03-12')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24048 entries, 0 to 24047
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Standardized_Date                 24048 non-null  datetime64[ns]
 1   STANDARDIZED_TIME                 24048 non-null  object
 2   RAW WATER FLOW IN m3/h            23991 non-null  float64
 3   CLEAR WATER SUMP LEVEL IN Meter   23955 non-null  float64
 4   CLEAR WATER PUMPING FLOW m3/h     24020 non-null  float64
 5   TREATED WATER PRODUCTION IN m3/h  24047 non-null  float64
 6   REMARKS                           175 non-null    object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 1.3+ MB

In [5]:
data[23513:23566]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
23513,2021-12-09,18:00,3483.52,3.48,2770.78,3371.35,NaN
23514,2021-12-09,19:00,2392.79,3.74,2770.78,2315.74,NaN
23515,2021-12-09,20:00,2419.47,3.26,2753.06,2341.56,NaN
23516,2021-12-09,21:00,2440.81,3.12,2744.19,2362.22,NaN
23517,2021-12-09,22:00,2451.49,2.98,2709.85,2372.55,NaN
23518,2021-12-09,23:00,2426.94,2.76,2697.66,2348.79,NaN
23519,2021-12-09,0:00,2433.34,2.57,2694.34,2354.99,NaN
23520,2021-12-10,1:00,2418.40,2.31,2653.35,2340.53,NaN
23521,2021-12-10,2:00,2425.87,2.21,1813.58,2347.76,NaN
23522,2021-12-10,3:00,2431.21,2.23,1812.48,2352.93,NaN
23523,2021-12-10,4:00,2433.34,2.26,1834.63,2354.99,NaN
23524,2021-12-10,5:00,2446.15,2.31,2755.27,2367.38,NaN
23525,2021-12-10,6:00,2442.95,2.23,2736.44,2364.29,NaN
23526,2021-12-10,7:00,3488.86,2.26,2717.60,3376.52,NaN
23527,2021-12-10,8:00,3509.14,2.31,2735.33,3396.15,NaN
23528,2021-12-10,9:00,3516.61,2.67,2737.55,3403.38,NaN
23529,2021-12-10,10:00,3505.93,2.84,2767.46,3393.04,NaN
23530,2021-12-10,11:00,3517.67,2.98,2761.92,3404.40,NaN
23531,2021-12-10,12:00,3520.64,3.11,2780.75,3407.28,NaN
23532,2021-12-10,13:00,3514.47,3.28,2790.72,3401.30,NaN
23533,2021-12-10,14:00,3526.21,3.53,2837.25,3412.67,NaN
23534,2021-12-10,15:00,3525.14,3.78,2784.08,3411.63,NaN
23535,2021-12-10,16:00,2413.06,3.83,2815.10,2335.36,NaN
23536,2021-12-10,17:00,2412.00,3.58,2833.93,2334.33,NaN
23537,2021-12-10,18:00,2407.73,3.36,2771.89,2330.20,NaN
23538,2021-12-10,19:00,2407.33,3.12,1849.03,2329.81,NaN
23539,2021-12-10,20:00,2419.42,3.32,1860.36,2341.51,NaN
23540,2021-12-10,21:00,2413.06,3.56,1877.84,2335.36,NaN
23541,2021-12-10,22:00,2416.27,3.79,1866.76,2338.47,NaN
23542,2021-12-10,23:00,2398.12,3.94,1874.52,2320.90,NaN
23543,2021-12-10,0:00,1207.07,3.79,1890.03,1168.20,NaN
23544,2021-12-11,1:00,1189.99,3.29,1871.19,1151.67,NaN
23545,2021-12-11,2:00,1196.39,2.79,1839.06,1157.87,NaN
23546,2021-12-11,3:00,1186.79,2.30,1819.12,1148.58,NaN
23547,2021-12-11,4:00,1192.12,1.77,1825.77,1153.73,NaN
23548,2021-12-11,5:00,2399.19,1.92,1827.99,2321.94,NaN
23549,2021-12-11,6:00,2416.27,2.06,1820.23,2338.47,NaN
23550,2021-12-11,7:00,2407.73,2.15,1832.42,2330.20,NaN
23551,2021-12-11,8:00,3291.42,2.24,2739.76,3185.44,NaN
23552,2021-12-11,9:00,3288.21,2.35,2747.52,3182.33,NaN
23553,2021-12-11,10:00,3283.95,2.40,2717.60,3178.21,NaN
23554,2021-12-11,11:00,3302.09,2.46,2744.19,3195.76,NaN
23555,2021-12-11,12:00,3294.62,2.48,2764.14,3188.53,NaN
23556,2021-12-11,13:00,3296.75,2.43,2770.78,3190.59,NaN
23557,2021-12-11,14:00,3289.28,2.48,2741.98,3183.37,NaN
23558,2021-12-11,15:00,3285.01,2.51,2763.03,3179.23,NaN
23559,2021-12-11,16:00,3289.28,2.45,2740.87,3183.37,NaN
23560,2021-12-11,17:00,3303.16,2.37,2759.70,3196.80,NaN
23561,2021-12-11,18:00,3287.15,2.43,2768.57,3181.30,NaN
23562,2021-12-11,19:00,3291.42,2.67,2758.60,3185.44,NaN
23563,2021-12-11,20:00,3286.08,2.91,2790.72,3180.27,NaN
23564,2021-12-11,21:00,3283.95,3.15,1884.49,3178.21,NaN
23565,2021-12-11,22:00,0.00,2.95,1878.95,0.00,NaN

In [6]:
data.loc[23001:23003]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
23001,2022-01-19,10:00,3587.37,2.11,2763.92,3471.86,NaN
23002,2022-01-19,11:00,3528.56,2.38,2735.78,3414.94,NaN
23003,2022-01-19,12:00,3568.53,2.77,2761.56,3453.62,NaN

### Remarks column correction

In [7]:
data.REMARKS.unique()

array([nan, 'Intake pumping well cleaning', 'power failure at intake',
       'power failur at intake and wtp',
       'Pumping stopped due to power failure at intake',
       'Pumping stopped due to maintanance work at WTP and Intake',
       'Pumping stopped for maintanance work & NHAI work.',
       'RW pumping stopped', 'Power failure @ intake',
       'Raw Water Reading not available due to PLC complaint.',
       'power failure at 7.28 to 7.36 pm',
       'Distribution line maintanance', 'Permitted power failure.',
       'power failure', 'channel cieaning',
       'stopped due to intake backwash', 'intake back wash',
       'inlet chamber cleaning', 'power failure at wtp 6.03 to6.40am',
       'Pumping stopped due to pipe line maintanance at taliparamba',
       'power failur', 'Gravity line air valve maintenance',
       'stopped for maintanance', 'power failuire at intake',
       'power failed @9.45 to 2.25', '3', 'distribution line maintanance',
       'Pumping Stoped Due to permitted Power failure at intake', '1',
       'voltage fluctation at intake', 'Pumping stopped due to',
       'Intake chamber cleaning', 'pumping sopped due to inake',
       'chamber cleaning', 'pumping started', 'intake chamber cleaning',
       'under voltage', 'intake backwash', 'Pumping Stoped due to intake',
       'Sump Level Low', 'Pumping Stopped due to intake',
       'Pumping Stoped due to Intake',
       'permitted power failure at Intake', 'Power Failure at Intake',
       'Pipe line broken at Taliparamba', 'Power failure at WTP',
       'Power failure at Intake', 'Power failure at intake',
       'POWER FAILURE', 'Power failure at intakeand WTP',
       'permitted power failure', 'maintenance at Thaliparamba',
       'maintenance work at Intake', 'informed power failure at',
       'intake', 'Maintenance Work at', 'Intake', 'Power failure',
       'PERMITTED POWER', 'FAILURE AT WTP', 'TWR Tank cleaning',
       'Energy Auditing', 'Power Failure at intake', 'Power Failure'],
      dtype=object)

In [8]:
data['REMARKS'] = data['REMARKS'].str.lower()
Rem = data.REMARKS.value_counts().reset_index()
# Rem.index = Rem.index.lower
Rem

                                              REMARKS  count
0                                   twr tank cleaning     49
1                                       power failure     17
2                             power failure at intake     13
3                             intake chamber cleaning     11
4                              pumping stopped due to     11
5                                      sump level low      5
6                        pumping stoped due to intake      4
7                       distribution line maintanance      4
8                                                   1      3
9                                              intake      3
10                               power failure at wtp      3
11  pumping stopped due to pipe line maintanance a...      2
12                                maintenance work at      2
13                            permitted power failure      2
14  pumping stoped due to permitted power failure ...      2
15                                                  3      2
16                       intake pumping well cleaning      2
17                             inlet chamber cleaning      2
18     pumping stopped due to power failure at intake      2
19  pumping stopped due to maintanance work at wtp...      2
20  raw water reading not available due to plc com...      2
21  pumping stopped for maintanance work & nhai work.      2
22                     power failure at intakeand wtp      1
23                             power failure @ intake      1
24                      pumping stopped due to intake      1
25                  permitted power failure at intake      1
26                    pipe line broken at taliparamba      1
27                                 rw pumping stopped      1
28                 power failure at wtp 6.03 to6.40am      1
29                         maintenance work at intake      1
30                          informed power failure at      1
31                                    permitted power      1
32                                     failure at wtp      1
33                     power failur at intake and wtp      1
34                        maintenance at thaliparamba      1
35                                    intake backwash      1
36                                      under voltage      1
37                                    pumping started      1
38                                   chamber cleaning      1
39                        pumping sopped due to inake      1
40                   power failure at 7.28 to 7.36 pm      1
41                           permitted power failure.      1
42                       voltage fluctation at intake      1
43                                   channel cieaning      1
44                     stopped due to intake backwash      1
45                                   intake back wash      1
46                         power failed @9.45 to 2.25      1
47                           power failuire at intake      1
48                            stopped for maintanance      1
49                 gravity line air valve maintenance      1
50                                       power failur      1
51                                    energy auditing      1

In [9]:
data[data['REMARKS']=='maintenance work at']

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
21952,2022-02-03,17:00,0.0,2.40,0.0,0.0,maintenance work at
22187,2022-02-13,12:00,0.0,3.08,0.0,0.0,maintenance work at

In [10]:
## REMARKS
#22697	2022-02-03	17:00	0.0	2.40	0.0	0.0	maintenance work at 
#22698	2022-02-03	18:00	0.0	2.09	0.0	0.0	intake

indices_maint = list(range(21952, 21954)) + \
          list(range(22187, 22189))
data.loc[indices_maint,'REMARKS'] = 'maintanance work at intake'
rows = data.loc[indices_maint]
rows

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
21952,2022-02-03,17:00,0.0,2.40,0.0,0.0,maintanance work at intake
21953,2022-02-03,18:00,0.0,2.09,0.0,0.0,maintanance work at intake
22187,2022-02-13,12:00,0.0,3.08,0.0,0.0,maintanance work at intake
22188,2022-02-13,13:00,0.0,3.05,0.0,0.0,maintanance work at intake

In [11]:
list1 = ['1','3','pumping started','power failure at 7.28 to 7.36 pm','power failure at wtp 6.03 to6.40am']
for i in range(len(data)):
    if data.loc[i,'REMARKS'] in list1:
        data.loc[i,'REMARKS'] = np.nan

In [12]:
data[(data['REMARKS']=='pumping stoped due to intake')|(data['REMARKS']=='pumping sopped due to inake')|(data['REMARKS']=='pumping stopped due to intake')]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
17217,2022-09-20,10:00,0.0,3.38,0.00,0.0,pumping sopped due to inake
18294,2022-07-04,7:00,0.0,2.94,0.00,0.0,pumping stoped due to intake
18309,2022-07-04,22:00,0.0,2.65,1848.71,0.0,pumping stopped due to intake
18328,2022-07-05,17:00,0.0,3.67,0.00,0.0,pumping stoped due to intake
18341,2022-07-06,6:00,0.0,3.05,0.00,0.0,pumping stoped due to intake
18366,2022-07-07,7:00,0.0,2.85,0.00,0.0,pumping stoped due to intake

In [13]:
## REMARKS
# 19039	2022-07-04	7:00	0.0	2.94	0.00	0.0	pumping stoped due to intake
# 19040	2022-07-04	8:00	0.0	2.64	0.00	0.0	sump level low

indices_sump = list(range(18294, 18296)) + \
          list(range(18309, 18311)) + \
          list(range(18328, 18330)) + \
          list(range(18341, 18343)) + \
          list(range(18366, 18368))
data.loc[indices_sump,'REMARKS'] = 'intake sump level low'
rows = data.loc[indices_sump]
rows

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
18294,2022-07-04,7:00,0.0,2.94,0.00,0.0,intake sump level low
18295,2022-07-04,8:00,0.0,2.64,0.00,0.0,intake sump level low
18309,2022-07-04,22:00,0.0,2.65,1848.71,0.0,intake sump level low
18310,2022-07-04,23:00,0.0,2.02,0.00,0.0,intake sump level low
18328,2022-07-05,17:00,0.0,3.67,0.00,0.0,intake sump level low
18329,2022-07-05,18:00,0.0,3.54,0.00,0.0,intake sump level low
18341,2022-07-06,6:00,0.0,3.05,0.00,0.0,intake sump level low
18342,2022-07-06,7:00,0.0,2.92,0.00,0.0,intake sump level low
18366,2022-07-07,7:00,0.0,2.85,0.00,0.0,intake sump level low
18367,2022-07-07,8:00,0.0,2.79,0.00,0.0,intake sump level low

In [14]:
## REMARKS
# 17218	2022-09-20	10:00	0.0	3.38	0.0	0.0	pumping sopped due to inake
# 17219	2022-09-20	11:00	0.0	3.34	0.0	0.0	chamber cleaning

indices_chamber = list(range(17217, 17219))
data.loc[indices_chamber,'REMARKS'] = 'intake chamber cleaning'
rows = data.loc[indices_chamber]
rows

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
17217,2022-09-20,10:00,0.0,3.38,0.0,0.0,intake chamber cleaning
17218,2022-09-20,11:00,0.0,3.34,0.0,0.0,intake chamber cleaning

In [15]:
data[data.REMARKS=='pumping stopped due to']

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
16256,2022-10-11,9:00,0.00,2.72,0.00,0.00,pumping stopped due to
17264,2022-09-22,9:00,3284.23,3.38,2774.03,3178.48,pumping stopped due to
17913,2022-08-19,10:00,0.00,3.46,0.00,0.00,pumping stopped due to
17937,2022-08-20,10:00,0.00,2.72,0.00,0.00,pumping stopped due to
17959,2022-08-21,8:00,3239.05,3.41,2807.96,3134.75,pumping stopped due to
17986,2022-08-22,11:00,0.00,3.19,0.00,0.00,pumping stopped due to
18033,2022-08-24,10:00,0.00,3.01,0.00,0.00,pumping stopped due to
18057,2022-08-25,10:00,0.00,3.35,0.00,0.00,pumping stopped due to
19289,2022-06-14,18:00,0.00,3.12,0.00,0.00,pumping stopped due to
21069,2022-04-27,22:00,NaN,NaN,NaN,0.00,pumping stopped due to
21103,2022-04-29,8:00,0.00,2.00,0.00,0.00,pumping stopped due to

In [16]:
## REMARKS
# 16257	2022-10-11	9:00	0.00	2.72	0.00	0.00	pumping stopped due to
# 16258	2022-10-11	10:00	0.00	2.66	0.00	0.00	intake chamber cleaning

indices_chamber = list(range(16256, 16258)) + \
          list(range(17264, 17266)) + \
          list(range(17913, 17915)) + \
          list(range(17937, 17939)) + \
          list(range(17959, 17961)) + \
          list(range(17986, 17988)) + \
          list(range(18033, 18035)) + \
          list(range(18057, 18059)) 
#           list(range(19289, 19291)) + \
#           list(range(21069, 21071)) + \
#           list(range(21103, 21105)) 
data.loc[indices_chamber,'REMARKS'] = 'intake chamber cleaning'
rows = data.loc[indices_chamber]
rows

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
16256,2022-10-11,9:00,0.00,2.72,0.00,0.00,intake chamber cleaning
16257,2022-10-11,10:00,0.00,2.66,0.00,0.00,intake chamber cleaning
17264,2022-09-22,9:00,3284.23,3.38,2774.03,3178.48,intake chamber cleaning
17265,2022-09-22,10:00,0.00,3.37,0.00,0.00,intake chamber cleaning
17913,2022-08-19,10:00,0.00,3.46,0.00,0.00,intake chamber cleaning
17914,2022-08-19,11:00,0.00,3.37,0.00,0.00,intake chamber cleaning
17937,2022-08-20,10:00,0.00,2.72,0.00,0.00,intake chamber cleaning
17938,2022-08-20,11:00,0.00,2.61,0.00,0.00,intake chamber cleaning
17959,2022-08-21,8:00,3239.05,3.41,2807.96,3134.75,intake chamber cleaning
17960,2022-08-21,9:00,0.00,3.41,0.00,0.00,intake chamber cleaning
17986,2022-08-22,11:00,0.00,3.19,0.00,0.00,intake chamber cleaning
17987,2022-08-22,12:00,0.00,3.06,0.00,0.00,intake chamber cleaning
18033,2022-08-24,10:00,0.00,3.01,0.00,0.00,intake chamber cleaning
18034,2022-08-24,11:00,0.00,2.76,0.00,0.00,intake chamber cleaning
18057,2022-08-25,10:00,0.00,3.35,0.00,0.00,intake chamber cleaning
18058,2022-08-25,11:00,0.00,3.13,0.00,0.00,intake chamber cleaning

In [17]:
## REMARKS
# 20034	2022-06-14	18:00	0.0	3.12	0.0	0.0	pumping stopped due to
# 20035	2022-06-14	19:00	0.0	3.10	0.0	0.0	pipe line broken at taliparamba
# 21814	2022-04-27	22:00	NaN	NaN	NaN	0.0	pumping stopped due to
# 21815	2022-04-27	23:00	NaN	NaN	NaN	0.0	maintenance at thaliparamba

indices_thaliparambu =list(range(19289, 19291))
data.loc[indices_thaliparambu,'REMARKS'] = 'pipe line broken at Thaliparamba'

indices_thaliparambu =list(range(21069, 21071))
data.loc[indices_thaliparambu,'REMARKS'] = 'maintanance at Thaliparamba'


## REMARKS
# 21848	2022-04-29	8:00	0.0	2.0	0.0	0.0	pumping stopped due to
# 21849	2022-04-29	9:00	0.0	2.0	0.0	0.0	maintenance work at intake

indices_maintain =list(range(21103, 21105))
data.loc[indices_maintain,'REMARKS'] = 'maintanance work at intake'
rows = data.loc[indices_maintain]
rows

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
21103,2022-04-29,8:00,0.0,2.0,0.0,0.0,maintanance work at intake
21104,2022-04-29,9:00,0.0,2.0,0.0,0.0,maintanance work at intake

In [18]:
data[data.REMARKS=='power failed @9.45 to 2.25']

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
13328,2023-02-09,9:00,3532.62,2.93,2787.92,3418.87,power failed @9.45 to 2.25

In [19]:
data.loc[13328,'REMARKS'] = np.nan
data.loc[13329,'REMARKS'] = 'power failure at intake and WTP'

In [20]:
data[data.REMARKS=='permitted power']

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
22256,2022-02-16,9:00,3604.19,3.33,2781.45,3488.14,permitted power

In [21]:
## REMARKS
# 23001	2022-02-16	9:00	3604.19	3.33	2781.45	3488.14	permitted power
# 23002	2022-02-16	10:00	0.00	0.00	0.00	0.00	failure at wtp

indices_wtp_power =list(range(22256, 22258)) 
data.loc[indices_wtp_power,'REMARKS'] = 'power failure at WTP'
data.loc[22256,'REMARKS'] = np.nan
rows = data.loc[indices_wtp_power]
rows

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
22256,2022-02-16,9:00,3604.19,3.33,2781.45,3488.14,NaN
22257,2022-02-16,10:00,0.00,0.00,0.00,0.00,power failure at WTP

In [22]:
data[data.REMARKS=='informed power failure at']

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
21752,2022-03-26,9:00,NaN,NaN,NaN,0.0,informed power failure at

In [23]:
## REMARKS
# 22497	2022-03-26	9:00	NaN	NaN	NaN	0.0	informed power failure at
# 22498	2022-03-26	10:00	NaN	NaN	NaN	0.0	intake

indices_intake_power = [21752,21753]
data.loc[indices_intake_power,'REMARKS'] = 'power failure at intake'
rows = data.loc[indices_intake_power]
rows

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
21752,2022-03-26,9:00,NaN,NaN,NaN,0.0,power failure at intake
21753,2022-03-26,10:00,NaN,NaN,NaN,0.0,power failure at intake

In [24]:
data[data.REMARKS=='rw pumping stopped']

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
5173,2024-01-06,14:00,1265.45,3.92,0.0,1224.7,rw pumping stopped

In [25]:
data[5173:5175]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
5173,2024-01-06,14:00,1265.45,3.92,0.0,1224.7,rw pumping stopped
5174,2024-01-06,15:00,0.00,3.81,0.0,0.0,NaN

In [26]:
data[data.REMARKS=='power failure']

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
9111,2023-06-17,16:00,NaN,NaN,NaN,0.00,power failure
17654,2022-08-08,15:00,0.00,2.91,0.00,0.00,power failure
17658,2022-08-08,19:00,0.00,3.03,0.00,0.00,power failure
17752,2022-08-12,17:00,0.00,2.38,0.00,0.00,power failure
19071,2022-06-05,16:00,0.00,4.00,0.00,0.00,power failure
19751,2022-05-03,0:00,0.00,2.26,2741.36,0.00,power failure
20193,2022-05-22,10:00,2475.82,3.92,2842.36,2396.10,power failure
20703,2022-04-12,16:00,0.00,0.00,0.00,0.00,power failure
20731,2022-04-13,20:00,0.00,2.75,0.00,0.00,power failure
20945,2022-04-22,18:00,1224.45,3.35,0.00,1185.02,power failure
21011,2022-04-25,12:00,0.00,3.34,0.00,0.00,power failure
21033,2022-04-26,10:00,0.00,1.89,0.00,0.00,power failure
22024,2022-02-06,17:00,3660.16,3.14,0.00,3542.30,power failure
22089,2022-02-09,10:00,0.00,3.25,0.00,0.00,power failure
22209,2022-02-14,10:00,0.00,3.85,0.00,0.00,power failure
23224,2022-01-28,17:00,2523.84,3.85,0.00,2442.57,power failure
23225,2022-01-28,18:00,0.00,3.77,1864.75,0.00,power failure

In [27]:
# 20938	2022-05-22	10:00	2475.82	3.92	2842.36	2396.10	power failure	
data.loc[20193,'REMARKS'] = np.nan

In [28]:
data[5172:5195]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS
5172,2024-01-06,13:00,1288.54,3.78,0.00,1247.05,NaN
5173,2024-01-06,14:00,1265.45,3.92,0.00,1224.70,rw pumping stopped
5174,2024-01-06,15:00,0.00,3.81,0.00,0.00,NaN
5175,2024-01-06,16:00,0.00,3.70,0.00,0.00,NaN
5176,2024-01-06,17:00,0.00,3.59,0.00,0.00,NaN
5177,2024-01-06,18:00,0.00,3.47,0.00,0.00,NaN
5178,2024-01-06,19:00,0.00,3.36,915.10,0.00,NaN
5179,2024-01-06,20:00,0.00,3.01,910.67,0.00,NaN
5180,2024-01-06,21:00,0.00,2.74,902.91,0.00,NaN
5181,2024-01-06,22:00,0.00,2.28,0.00,0.00,NaN
5182,2024-01-06,23:00,0.00,2.28,0.00,0.00,NaN
5183,2024-01-06,0:00,0.00,2.30,0.00,0.00,NaN
5184,2024-01-07,1:00,0.00,2.32,0.00,0.00,NaN
5185,2024-01-07,2:00,0.00,2.34,0.00,0.00,NaN
5186,2024-01-07,3:00,0.00,2.24,900.70,0.00,NaN
5187,2024-01-07,4:00,1216.67,1.63,881.86,1177.49,NaN
5188,2024-01-07,5:00,1211.33,1.13,878.65,1172.33,NaN
5189,2024-01-07,6:00,1223.07,1.10,902.91,1183.69,NaN
5190,2024-01-07,7:00,1209.81,1.07,905.21,1170.85,NaN
5191,2024-01-07,8:00,1229.58,1.15,915.24,1189.99,NaN
5192,2024-01-07,9:00,2429.07,1.17,1813.34,2350.85,NaN
5193,2024-01-07,10:00,2416.00,1.48,1843.17,2338.20,NaN
5194,2024-01-07,11:00,2505.76,2.43,1871.19,2425.07,NaN

In [29]:
# 5173	2024-01-06	14:00	1265.45	3.92	0.00	1224.70	rw pumping stopped
data.loc[5173,'REMARKS'] = np.nan
data.loc[5174,'REMARKS'] = 'intake pumping stopped'

In [30]:
data['REMARKS'] = data['REMARKS'].str.lower()
Rem = data.REMARKS.value_counts().reset_index()
# Rem.index = Rem.index.lower
Rem

                                              REMARKS  count
0                                   twr tank cleaning     49
1                             intake chamber cleaning     21
2                                       power failure     16
3                             power failure at intake     15
4                               intake sump level low     10
5                          maintanance work at intake      6
6                       distribution line maintanance      4
7                                power failure at wtp      4
8   pumping stopped due to pipe line maintanance a...      2
9                              inlet chamber cleaning      2
10                   pipe line broken at thaliparamba      2
11                       intake pumping well cleaning      2
12                            permitted power failure      2
13  raw water reading not available due to plc com...      2
14                        maintanance at thaliparamba      2
15  pumping stopped for maintanance work & nhai work.      2
16  pumping stopped due to maintanance work at wtp...      2
17     pumping stopped due to power failure at intake      2
18  pumping stoped due to permitted power failure ...      2
19                     power failure at intakeand wtp      1
20                  permitted power failure at intake      1
21                                    intake backwash      1
22                                      under voltage      1
23                 gravity line air valve maintenance      1
24                       voltage fluctation at intake      1
25                    power failure at intake and wtp      1
26                           power failuire at intake      1
27                            stopped for maintanance      1
28                                       power failur      1
29                                   intake back wash      1
30                     stopped due to intake backwash      1
31                                   channel cieaning      1
32                           permitted power failure.      1
33                             power failure @ intake      1
34                             intake pumping stopped      1
35                     power failur at intake and wtp      1
36                                    energy auditing      1

In [31]:
# data[data['REMARKS']=='pumping stopped due to']

In [28]:
# data[17224:17227]

In [29]:
# data[data['REMARKS']=='pumping stopped due to intake']

In [30]:
# data[17218:17221] #

In [31]:
# data[22696:22700]

In [32]:
# data[22932:22937]

In [33]:
# data[data.REMARKS=='intake']

In [34]:
# data[data['RAW WATER FLOW IN m3/h'].isna()]

In [35]:
# data.iloc[22490:22510]

In [36]:
# data.REMARKS.nunique()

In [37]:
# data[data['REMARKS'].str.contains('intake', case=False) & data['REMARKS'].str.contains('power', case=False)]

In [38]:
# data[data['REMARKS'].str.contains('intake', case=False) & data['REMARKS'].str.contains('power', case=False)].shape

In [39]:
# data[(data['REMARKS'].str.contains('intake', case=False)) & (data['REMARKS'].str.contains('power', case=False))&(data['REMARKS'].str.contains('wtp', case=False)==False)]

In [40]:
# data[(data['REMARKS'].str.contains('intake', case=False)) & (data['REMARKS'].str.contains('power', case=False))&(data['REMARKS'].str.contains('wtp', case=False)==False)].shape

In [41]:
# data[(data['REMARKS'].str.contains('intake', case=False)==False) & (data['REMARKS'].str.contains('power', case=False))&(data['REMARKS'].str.contains('wtp', case=False))].shape

In [42]:
# data.loc[14217,'REMARKS']

## Categorize REMARKS column

In [32]:
df = data.copy()

In [33]:
def categorize_remarks(data):
    """
    Categorizes the remarks column based on specific conditions:
    1. 'Power Failure at Intake' if:
       - Contains 'intake' (case-insensitive)
       - Contains 'power' (case-insensitive)
       - Does not contain 'wtp' (case-insensitive)
    
    2. 'Power Failure at WTP' if:
       - Does not contain 'intake'
       - Contains 'power' (case-insensitive)
       - Contains 'wtp' (case-insensitive)
    """
    
    def categorize(row):
        remarks = row['REMARKS']
        raw_water = row['RAW WATER FLOW IN m3/h']
        clear_water_pumping = row['CLEAR WATER PUMPING FLOW m3/h']
        if pd.notna(remarks):
            remarks_lower = remarks.lower()
            if ('intake' in remarks_lower and ('power' in remarks_lower or 'failure' in remarks_lower) and 'wtp' not in remarks_lower) or (('power' in remarks_lower or 'failure' in remarks_lower) and 'wtp' not in remarks_lower and (raw_water == 0.0 or pd.isna(raw_water)) and not pd.isna(clear_water_pumping) and clear_water_pumping != 0.0):
                return 'Power Failure at Intake'
            elif ('intake' not in remarks_lower and ('power' in remarks_lower or 'failure' in remarks_lower) and 'wtp' in remarks_lower) or (('power' in remarks_lower or 'failure' in remarks_lower) and 'intake' not in remarks_lower and not pd.isna(raw_water) and raw_water !=0.0 and (clear_water_pumping == 0.0 or pd.isna(clear_water_pumping))):
                return 'Power Failure at WTP'
            elif ('intake' in remarks_lower and ('power' in remarks_lower or 'failure' in remarks_lower) and 'wtp' in remarks_lower) or ('intake' not in remarks_lower and 'wtp' not in remarks_lower and ('power' in remarks_lower or 'failure' in remarks_lower) and (raw_water == 0.0 or pd.isna(raw_water)) and (clear_water_pumping == 0.0 or pd.isna(clear_water_pumping))):
                return 'Power Failure at intake and WTP'
            elif (('cleaning' in remarks_lower or 'wash' in remarks_lower) and 'intake' in remarks_lower):
                return 'intake cleaning'
            elif 'maint' in remarks_lower and 'intake' in remarks_lower:
                return 'maintanance at intake'
            elif 'maint' in remarks_lower and 'thaliparamba' in remarks_lower or 'taliparamba' in remarks_lower:
                return 'maintanance at Thaliparamba'
            elif 'maint' in remarks_lower and 'distribution' in remarks_lower:
                return 'distribution line maintanance'
            elif 'maint' in remarks_lower:
                return 'maintanance'
#             elif 'intake sump level low' in remarks_lower:
#                 return 'intake sump level low'
#             elif 'energy auditing' in remarks_lower:
#                 return 'energy auditing'
#             elif 'issue at thaliparambu' in remarks_lower:
#                 return 'issue at thaliparambu'
            elif 'cleaning' in remarks_lower and ('twr' in remarks_lower or 'wtp' in remarks_lower):
                return 'WTP cleaning'
#             elif 'intake pumping stopped' in remarks_lower:
#                 return 'intake pumping stopped'
            elif 'plc complaint' in remarks_lower:
                return 'complaint at WTP'
            else:
                return remarks_lower
            
#         return ''

    # Apply the categorization function to each row
    data['remarks category'] = data.apply(categorize, axis=1)
    
    return data

In [34]:
df = categorize_remarks(df)
df

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
0,2024-08-01,1:00,2561.58,2.32,1996.36,2479.10,NaN,None
1,2024-08-01,2:00,2510.71,2.49,1984.73,2429.87,NaN,None
2,2024-08-01,3:00,2489.32,2.71,1998.56,2409.16,NaN,None
3,2024-08-01,4:00,2444.78,2.79,1972.01,2366.06,NaN,None
4,2024-08-01,5:00,2417.47,2.99,1945.42,2339.63,NaN,None
...,...,...,...,...,...,...,...,...
24043,2021-12-31,20:00,2499.51,2.89,1851.25,2419.03,NaN,None
24044,2021-12-31,21:00,2477.10,3.06,1878.95,2397.34,NaN,None
24045,2021-12-31,22:00,2470.76,3.25,1913.29,2391.20,NaN,None
24046,2021-12-31,23:00,2492.04,3.30,1904.43,2411.80,NaN,None
24047,2021-12-31,0:00,2494.18,3.33,1896.67,2413.87,NaN,None

In [35]:
# df[df['remarks category'].notna()]

In [36]:
# data[(data['REMARKS'].str.contains('intake', case=False)) & (data['REMARKS'].str.contains('power', case=False))&(data['REMARKS'].str.contains('wtp', case=False))]

In [37]:
# df[df['remarks category'].notna()].shape

In [38]:
df['remarks category'].value_counts()

remarks category
WTP cleaning                        49
intake cleaning                     26
Power Failure at Intake             24
Power Failure at intake and WTP     17
intake sump level low               10
maintanance at intake                8
Power Failure at WTP                 8
maintanance                          4
distribution line maintanance        4
maintanance at Thaliparamba          4
pipe line broken at thaliparamba     2
inlet chamber cleaning               2
complaint at WTP                     2
under voltage                        1
voltage fluctation at intake         1
channel cieaning                     1
intake pumping stopped               1
energy auditing                      1
Name: count, dtype: int64

In [39]:
df[df['remarks category']=='maintanance']

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
5112,2024-01-04,1:00,0.00,NaN,0.00,0.00,pumping stopped for maintanance work & nhai work.,maintanance
5113,2024-01-04,2:00,0.00,NaN,0.00,0.00,pumping stopped for maintanance work & nhai work.,maintanance
11166,2023-04-11,7:00,2510.35,3.93,0.00,2429.52,gravity line air valve maintenance,maintanance
12696,2023-08-14,1:00,0.00,1.06,1856.25,0.00,stopped for maintanance,maintanance

In [40]:
df[df['remarks category'].isna()].REMARKS.nunique()

0

In [41]:
remain_list = list(df[df['remarks category'].isna()].REMARKS.unique())
remain_list

[nan]

## Filling 'remarks category' column

In [42]:
# Function to fill NaN values in 'remarks category' based on the conditions
def fill_remarks_category(df):
    previous_remark = None
#     remarks_flag=False
    for i in range(len(df)):
        current_remark = df.loc[i, 'remarks category']
        raw_water_flow = df.loc[i, 'RAW WATER FLOW IN m3/h']
        clear_water_pumping_flow = df.loc[i, 'CLEAR WATER PUMPING FLOW m3/h']
        # Check if 'remarks category' is NaN and if the previous row had a non-NaN remark
        if pd.isna(current_remark):
            # Check if raw water and treated water columns are 0 or NaN
            if ((raw_water_flow == 0 or pd.isna(raw_water_flow)) and (clear_water_pumping_flow == 0 or pd.isna(clear_water_pumping_flow))):# or (('intake' in previous_remark) and (raw_water_flow == 0) and (clear_water_pumping_flow != 0)) or (('WTP' in previous_remark) and (raw_water_flow != 0) and (clear_water_pumping_flow == 0)):
                # Fill the current NaN remark with the previous non-NaN remark
                df.loc[i, 'remarks category'] = previous_remark
            elif previous_remark is not None and (('intake' in previous_remark and 'WTP' not in previous_remark and (raw_water_flow == 0 or pd.isna(raw_water_flow)) and clear_water_pumping_flow != 0) or ('WTP' in previous_remark and 'intake' not in previous_remark and raw_water_flow != 0 and (clear_water_pumping_flow == 0 or pd.isna(clear_water_pumping_flow)))):
                df.loc[i, 'remarks category'] = previous_remark
            elif previous_remark is not None and 'complaint at WTP' in previous_remark and (raw_water_flow == 0 or pd.isna(raw_water_flow)):
                df.loc[i, 'remarks category'] = previous_remark
#             elif previous_remark is not None and 'WTP cleaning' in previous_remark and (raw_water_flow == 0 or pd.isna(raw_water_flow)) and (clear_water_flow == 0 or pd.isna(clear_water_flow)):
#                 df.loc[i, 'remarks category'] = previous_remark
            else:
                previous_remark = current_remark
        else:
            # Update the previous_remark if the current remark is not NaN
            previous_remark = current_remark
 
    return df

In [43]:
# Apply the function to the DataFrame
df_filled = fill_remarks_category(df)

In [44]:
df_filled[df_filled['remarks category']=='WTP cleaning']

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
22769,2022-01-09,18:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22770,2022-01-09,19:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22771,2022-01-09,20:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22772,2022-01-09,21:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22773,2022-01-09,22:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22774,2022-01-09,23:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22775,2022-01-09,0:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22776,2022-01-10,1:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22777,2022-01-10,2:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22778,2022-01-10,3:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22779,2022-01-10,4:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22780,2022-01-10,5:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22781,2022-01-10,6:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22782,2022-01-10,7:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22783,2022-01-10,8:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22784,2022-01-10,9:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22785,2022-01-10,10:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22786,2022-01-10,11:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22787,2022-01-10,12:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22788,2022-01-10,13:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22789,2022-01-10,14:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22790,2022-01-10,15:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22791,2022-01-10,16:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22792,2022-01-10,17:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22793,2022-01-10,18:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22794,2022-01-10,19:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22795,2022-01-10,20:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22796,2022-01-10,21:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22797,2022-01-10,22:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22798,2022-01-10,23:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22799,2022-01-10,0:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22800,2022-01-11,1:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22801,2022-01-11,2:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22802,2022-01-11,3:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22803,2022-01-11,4:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22804,2022-01-11,5:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22805,2022-01-11,6:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22806,2022-01-11,7:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22807,2022-01-11,8:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22808,2022-01-11,9:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22809,2022-01-11,10:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22810,2022-01-11,11:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22811,2022-01-11,12:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22812,2022-01-11,13:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22813,2022-01-11,14:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22814,2022-01-11,15:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22815,2022-01-11,16:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22816,2022-01-11,17:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22817,2022-01-11,18:00,0.00,0.0,0.0,0.00,twr tank cleaning,WTP cleaning
22818,2022-01-11,19:00,1230.21,0.0,0.0,1190.60,NaN,WTP cleaning
22819,2022-01-11,20:00,2510.32,0.0,0.0,2429.49,NaN,WTP cleaning

In [45]:
list1 = [22818,22819]
df_filled.loc[list1,'remarks category'] = None

In [46]:
df_filled

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
0,2024-08-01,1:00,2561.58,2.32,1996.36,2479.10,NaN,None
1,2024-08-01,2:00,2510.71,2.49,1984.73,2429.87,NaN,None
2,2024-08-01,3:00,2489.32,2.71,1998.56,2409.16,NaN,None
3,2024-08-01,4:00,2444.78,2.79,1972.01,2366.06,NaN,None
4,2024-08-01,5:00,2417.47,2.99,1945.42,2339.63,NaN,None
...,...,...,...,...,...,...,...,...
24043,2021-12-31,20:00,2499.51,2.89,1851.25,2419.03,NaN,None
24044,2021-12-31,21:00,2477.10,3.06,1878.95,2397.34,NaN,None
24045,2021-12-31,22:00,2470.76,3.25,1913.29,2391.20,NaN,None
24046,2021-12-31,23:00,2492.04,3.30,1904.43,2411.80,NaN,None
24047,2021-12-31,0:00,2494.18,3.33,1896.67,2413.87,NaN,None

In [47]:
df_filled['remarks category'].value_counts()

remarks category
Power Failure at Intake             118
intake cleaning                      98
maintanance                          72
pipe line broken at thaliparamba     72
Power Failure at intake and WTP      54
WTP cleaning                         49
distribution line maintanance        35
complaint at WTP                     33
Power Failure at WTP                 25
maintanance at intake                22
intake sump level low                22
under voltage                        16
maintanance at Thaliparamba          15
intake pumping stopped               13
channel cieaning                     10
inlet chamber cleaning                4
voltage fluctation at intake          4
energy auditing                       1
Name: count, dtype: int64

In [48]:
df_filled[df_filled['remarks category']=='maintanance'].REMARKS.unique()

array(['pumping stopped for maintanance work & nhai work.', nan,
       'gravity line air valve maintenance', 'stopped for maintanance'],
      dtype=object)

In [49]:
df_filled[df_filled.REMARKS=='stopped for maintanance']

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
12696,2023-08-14,1:00,0.0,1.06,1856.25,0.0,stopped for maintanance,maintanance

In [50]:
df_filled[12696:12716]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
12696,2023-08-14,1:00,0.00,1.06,1856.25,0.00,stopped for maintanance,maintanance
12697,2023-08-14,2:00,0.00,0.42,0.00,0.00,NaN,maintanance
12698,2023-08-14,3:00,0.00,0.09,0.00,0.00,NaN,maintanance
12699,2023-08-14,4:00,0.00,0.12,0.00,0.00,NaN,maintanance
12700,2023-08-14,5:00,0.00,0.16,0.00,0.00,NaN,maintanance
12701,2023-08-14,6:00,0.00,0.20,0.00,0.00,NaN,maintanance
12702,2023-08-14,7:00,0.00,0.23,0.00,0.00,NaN,maintanance
12703,2023-08-14,8:00,0.00,0.27,0.00,0.00,NaN,maintanance
12704,2023-08-14,9:00,0.00,0.33,0.00,0.00,NaN,maintanance
12705,2023-08-14,10:00,0.00,0.38,0.00,0.00,NaN,maintanance
12706,2023-08-14,11:00,1120.21,0.94,0.00,1084.14,NaN,None
12707,2023-08-14,12:00,2350.35,1.51,0.00,2274.67,NaN,None
12708,2023-08-14,13:00,3373.68,2.11,1850.31,3265.05,NaN,None
12709,2023-08-14,14:00,3391.81,2.50,2798.58,3282.59,NaN,None
12710,2023-08-14,15:00,3392.61,2.91,2811.35,3283.37,NaN,None
12711,2023-08-14,16:00,3402.69,3.11,2810.67,3293.12,NaN,None
12712,2023-08-14,17:00,3454.96,3.20,2816.87,3343.71,NaN,None
12713,2023-08-14,18:00,3369.45,3.38,2821.56,3260.95,NaN,None
12714,2023-08-14,19:00,3370.86,3.56,2817.81,3262.32,NaN,None
12715,2023-08-14,20:00,3393.54,3.64,2811.74,3284.27,NaN,None

In [51]:
df_filled[5150:5189]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
5150,2024-01-05,15:00,0.00,NaN,0.00,0.00,NaN,maintanance
5151,2024-01-05,16:00,0.00,NaN,0.00,0.00,NaN,maintanance
5152,2024-01-05,17:00,0.00,NaN,0.00,0.00,NaN,maintanance
5153,2024-01-05,18:00,0.00,NaN,0.00,0.00,NaN,maintanance
5154,2024-01-05,19:00,0.00,NaN,0.00,0.00,NaN,maintanance
5155,2024-01-05,20:00,0.00,NaN,0.00,0.00,NaN,maintanance
5156,2024-01-05,21:00,0.00,NaN,0.00,0.00,NaN,maintanance
5157,2024-01-05,22:00,0.00,NaN,0.00,0.00,NaN,maintanance
5158,2024-01-05,23:00,0.00,NaN,0.00,0.00,NaN,maintanance
5159,2024-01-05,0:00,0.00,NaN,0.00,0.00,NaN,maintanance
5160,2024-01-06,1:00,0.00,NaN,0.00,0.00,NaN,maintanance
5161,2024-01-06,2:00,0.00,NaN,0.00,0.00,NaN,maintanance
5162,2024-01-06,3:00,0.00,NaN,0.00,0.00,NaN,maintanance
5163,2024-01-06,4:00,0.00,NaN,0.00,0.00,NaN,maintanance
5164,2024-01-06,5:00,0.00,NaN,0.00,0.00,NaN,maintanance
5165,2024-01-06,6:00,0.00,NaN,0.00,0.00,NaN,maintanance
5166,2024-01-06,7:00,1264.70,1.47,0.00,1223.98,NaN,None
5167,2024-01-06,8:00,1265.65,1.45,0.00,1224.90,NaN,None
5168,2024-01-06,9:00,1265.25,2.16,0.00,1224.51,NaN,None
5169,2024-01-06,10:00,1279.64,2.81,0.00,1238.44,NaN,None
5170,2024-01-06,11:00,1266.83,3.41,0.00,1226.04,NaN,None
5171,2024-01-06,12:00,1256.32,3.61,0.00,1215.87,NaN,None
5172,2024-01-06,13:00,1288.54,3.78,0.00,1247.05,NaN,None
5173,2024-01-06,14:00,1265.45,3.92,0.00,1224.70,NaN,None
5174,2024-01-06,15:00,0.00,3.81,0.00,0.00,intake pumping stopped,intake pumping stopped
5175,2024-01-06,16:00,0.00,3.70,0.00,0.00,NaN,intake pumping stopped
5176,2024-01-06,17:00,0.00,3.59,0.00,0.00,NaN,intake pumping stopped
5177,2024-01-06,18:00,0.00,3.47,0.00,0.00,NaN,intake pumping stopped
5178,2024-01-06,19:00,0.00,3.36,915.10,0.00,NaN,intake pumping stopped
5179,2024-01-06,20:00,0.00,3.01,910.67,0.00,NaN,intake pumping stopped
5180,2024-01-06,21:00,0.00,2.74,902.91,0.00,NaN,intake pumping stopped
5181,2024-01-06,22:00,0.00,2.28,0.00,0.00,NaN,intake pumping stopped
5182,2024-01-06,23:00,0.00,2.28,0.00,0.00,NaN,intake pumping stopped
5183,2024-01-06,0:00,0.00,2.30,0.00,0.00,NaN,intake pumping stopped
5184,2024-01-07,1:00,0.00,2.32,0.00,0.00,NaN,intake pumping stopped
5185,2024-01-07,2:00,0.00,2.34,0.00,0.00,NaN,intake pumping stopped
5186,2024-01-07,3:00,0.00,2.24,900.70,0.00,NaN,intake pumping stopped
5187,2024-01-07,4:00,1216.67,1.63,881.86,1177.49,NaN,None
5188,2024-01-07,5:00,1211.33,1.13,878.65,1172.33,NaN,None

In [52]:
df_filled[df_filled['remarks category']=='complaint at WTP']

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
6200,2023-12-18,9:00,NaN,2.81,3669.64,0.0,raw water reading not available due to plc com...,complaint at WTP
6201,2023-12-18,10:00,NaN,2.29,3648.43,0.0,raw water reading not available due to plc com...,complaint at WTP
6202,2023-12-18,11:00,NaN,2.18,2788.83,0.0,NaN,complaint at WTP
6203,2023-12-18,12:00,NaN,2.41,2794.65,0.0,NaN,complaint at WTP
6204,2023-12-18,13:00,NaN,2.56,2833.07,0.0,NaN,complaint at WTP
6205,2023-12-18,14:00,NaN,2.71,2828.39,0.0,NaN,complaint at WTP
6206,2023-12-18,15:00,NaN,2.79,2821.96,0.0,NaN,complaint at WTP
6207,2023-12-18,16:00,NaN,2.75,2837.37,0.0,NaN,complaint at WTP
6208,2023-12-18,17:00,NaN,2.77,2850.47,0.0,NaN,complaint at WTP
6209,2023-12-18,18:00,NaN,2.95,2812.65,0.0,NaN,complaint at WTP
6210,2023-12-18,19:00,NaN,3.19,3675.73,0.0,NaN,complaint at WTP
6211,2023-12-18,20:00,NaN,2.89,3633.81,0.0,NaN,complaint at WTP
6212,2023-12-18,21:00,NaN,2.71,3644.29,0.0,NaN,complaint at WTP
6213,2023-12-18,22:00,NaN,2.43,3669.34,0.0,NaN,complaint at WTP
6214,2023-12-18,23:00,NaN,2.18,3656.49,0.0,NaN,complaint at WTP
6215,2023-12-18,0:00,NaN,1.95,3599.48,0.0,NaN,complaint at WTP
6216,2023-12-19,1:00,NaN,1.67,3611.98,0.0,NaN,complaint at WTP
6217,2023-12-19,2:00,NaN,1.93,2788.27,0.0,NaN,complaint at WTP
6218,2023-12-19,3:00,NaN,2.30,2789.72,0.0,NaN,complaint at WTP
6219,2023-12-19,4:00,NaN,2.63,2791.08,0.0,NaN,complaint at WTP
6220,2023-12-19,5:00,NaN,2.88,2798.36,0.0,NaN,complaint at WTP
6221,2023-12-19,6:00,NaN,3.07,2786.94,0.0,NaN,complaint at WTP
6222,2023-12-19,7:00,NaN,3.33,2771.89,0.0,NaN,complaint at WTP
6223,2023-12-19,8:00,NaN,3.49,2790.54,0.0,NaN,complaint at WTP
6224,2023-12-19,9:00,NaN,3.64,2788.36,0.0,NaN,complaint at WTP
6225,2023-12-19,10:00,NaN,3.78,2791.58,0.0,NaN,complaint at WTP
6226,2023-12-19,11:00,NaN,3.99,2794.52,0.0,NaN,complaint at WTP
6227,2023-12-19,12:00,NaN,3.78,3693.48,0.0,NaN,complaint at WTP
6228,2023-12-19,13:00,NaN,3.46,3661.07,0.0,NaN,complaint at WTP
6229,2023-12-19,14:00,NaN,3.15,3665.12,0.0,NaN,complaint at WTP
6230,2023-12-19,15:00,NaN,2.96,3600.14,0.0,NaN,complaint at WTP
6231,2023-12-19,16:00,NaN,2.64,3608.74,0.0,NaN,complaint at WTP
6232,2023-12-19,17:00,NaN,2.14,3589.31,0.0,NaN,complaint at WTP

In [53]:
df[6200:6234]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
6200,2023-12-18,9:00,NaN,2.81,3669.64,0.00,raw water reading not available due to plc com...,complaint at WTP
6201,2023-12-18,10:00,NaN,2.29,3648.43,0.00,raw water reading not available due to plc com...,complaint at WTP
6202,2023-12-18,11:00,NaN,2.18,2788.83,0.00,NaN,complaint at WTP
6203,2023-12-18,12:00,NaN,2.41,2794.65,0.00,NaN,complaint at WTP
6204,2023-12-18,13:00,NaN,2.56,2833.07,0.00,NaN,complaint at WTP
6205,2023-12-18,14:00,NaN,2.71,2828.39,0.00,NaN,complaint at WTP
6206,2023-12-18,15:00,NaN,2.79,2821.96,0.00,NaN,complaint at WTP
6207,2023-12-18,16:00,NaN,2.75,2837.37,0.00,NaN,complaint at WTP
6208,2023-12-18,17:00,NaN,2.77,2850.47,0.00,NaN,complaint at WTP
6209,2023-12-18,18:00,NaN,2.95,2812.65,0.00,NaN,complaint at WTP
6210,2023-12-18,19:00,NaN,3.19,3675.73,0.00,NaN,complaint at WTP
6211,2023-12-18,20:00,NaN,2.89,3633.81,0.00,NaN,complaint at WTP
6212,2023-12-18,21:00,NaN,2.71,3644.29,0.00,NaN,complaint at WTP
6213,2023-12-18,22:00,NaN,2.43,3669.34,0.00,NaN,complaint at WTP
6214,2023-12-18,23:00,NaN,2.18,3656.49,0.00,NaN,complaint at WTP
6215,2023-12-18,0:00,NaN,1.95,3599.48,0.00,NaN,complaint at WTP
6216,2023-12-19,1:00,NaN,1.67,3611.98,0.00,NaN,complaint at WTP
6217,2023-12-19,2:00,NaN,1.93,2788.27,0.00,NaN,complaint at WTP
6218,2023-12-19,3:00,NaN,2.30,2789.72,0.00,NaN,complaint at WTP
6219,2023-12-19,4:00,NaN,2.63,2791.08,0.00,NaN,complaint at WTP
6220,2023-12-19,5:00,NaN,2.88,2798.36,0.00,NaN,complaint at WTP
6221,2023-12-19,6:00,NaN,3.07,2786.94,0.00,NaN,complaint at WTP
6222,2023-12-19,7:00,NaN,3.33,2771.89,0.00,NaN,complaint at WTP
6223,2023-12-19,8:00,NaN,3.49,2790.54,0.00,NaN,complaint at WTP
6224,2023-12-19,9:00,NaN,3.64,2788.36,0.00,NaN,complaint at WTP
6225,2023-12-19,10:00,NaN,3.78,2791.58,0.00,NaN,complaint at WTP
6226,2023-12-19,11:00,NaN,3.99,2794.52,0.00,NaN,complaint at WTP
6227,2023-12-19,12:00,NaN,3.78,3693.48,0.00,NaN,complaint at WTP
6228,2023-12-19,13:00,NaN,3.46,3661.07,0.00,NaN,complaint at WTP
6229,2023-12-19,14:00,NaN,3.15,3665.12,0.00,NaN,complaint at WTP
6230,2023-12-19,15:00,NaN,2.96,3600.14,0.00,NaN,complaint at WTP
6231,2023-12-19,16:00,NaN,2.64,3608.74,0.00,NaN,complaint at WTP
6232,2023-12-19,17:00,NaN,2.14,3589.31,0.00,NaN,complaint at WTP
6233,2023-12-19,18:00,3513.58,1.89,3526.15,3400.44,NaN,None

In [54]:
df_filled[(df_filled['RAW WATER FLOW IN m3/h'].isna())&(df_filled['CLEAR WATER SUMP LEVEL IN Meter'].isna())&(df_filled['CLEAR WATER PUMPING FLOW m3/h'].isna())&(df_filled['TREATED WATER PRODUCTION IN m3/h']==0.0)&(df_filled['REMARKS'].isna())]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
9107,2023-06-17,12:00,NaN,NaN,NaN,0.0,NaN,Power Failure at intake and WTP
13127,2023-08-31,0:00,NaN,NaN,NaN,0.0,NaN,None
16007,2022-11-30,0:00,NaN,NaN,NaN,0.0,NaN,None
21071,2022-04-27,0:00,NaN,NaN,NaN,0.0,NaN,maintanance at Thaliparamba
21072,2022-04-28,1:00,NaN,NaN,NaN,0.0,NaN,maintanance at Thaliparamba
21073,2022-04-28,2:00,NaN,NaN,NaN,0.0,NaN,maintanance at Thaliparamba
21074,2022-04-28,3:00,NaN,NaN,NaN,0.0,NaN,maintanance at Thaliparamba
21075,2022-04-28,4:00,NaN,NaN,NaN,0.0,NaN,maintanance at Thaliparamba
21076,2022-04-28,5:00,NaN,NaN,NaN,0.0,NaN,maintanance at Thaliparamba
21077,2022-04-28,6:00,NaN,NaN,NaN,0.0,NaN,maintanance at Thaliparamba
21078,2022-04-28,7:00,NaN,NaN,NaN,0.0,NaN,maintanance at Thaliparamba
21079,2022-04-28,8:00,NaN,NaN,NaN,0.0,NaN,maintanance at Thaliparamba
21080,2022-04-28,9:00,NaN,NaN,NaN,0.0,NaN,maintanance at Thaliparamba
21081,2022-04-28,10:00,NaN,NaN,NaN,0.0,NaN,maintanance at Thaliparamba
21754,2022-03-26,11:00,NaN,NaN,NaN,0.0,NaN,Power Failure at Intake
21755,2022-03-26,12:00,NaN,NaN,NaN,0.0,NaN,Power Failure at Intake
21756,2022-03-26,13:00,NaN,NaN,NaN,0.0,NaN,Power Failure at Intake
21757,2022-03-26,14:00,NaN,NaN,NaN,0.0,NaN,Power Failure at Intake

In [55]:
df_filled[(df_filled['RAW WATER FLOW IN m3/h'].isna())&(df_filled['CLEAR WATER SUMP LEVEL IN Meter'].isna())&(df_filled['CLEAR WATER PUMPING FLOW m3/h'].isna())&(df_filled['TREATED WATER PRODUCTION IN m3/h']==0.0)&(df_filled['remarks category'].isna())]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
13127,2023-08-31,0:00,NaN,NaN,NaN,0.0,NaN,None
16007,2022-11-30,0:00,NaN,NaN,NaN,0.0,NaN,None

In [56]:
df_filled[df_filled.Standardized_Date=='2022-11-30']

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
15984,2022-11-30,1:00,3489.73,2.71,2739.76,3377.36,NaN,None
15985,2022-11-30,2:00,3498.53,3.02,2737.55,3385.88,NaN,None
15986,2022-11-30,3:00,3502.27,3.41,2714.26,3389.50,NaN,None
15987,2022-11-30,4:00,2418.33,3.27,2753.06,2340.46,NaN,None
15988,2022-11-30,5:00,2422.67,3.09,1840.35,2344.66,NaN,None
15989,2022-11-30,6:00,2423.24,2.91,1843.67,2345.21,NaN,None
15990,2022-11-30,7:00,2420.54,2.66,2745.31,2342.60,NaN,None
15991,2022-11-30,8:00,3496.00,2.41,2728.55,3383.43,NaN,None
15992,2022-11-30,9:00,3488.93,2.58,2748.79,3376.59,NaN,None
15993,2022-11-30,10:00,3499.54,2.83,2808.56,3386.85,NaN,None
15994,2022-11-30,11:00,3478.45,3.19,2833.23,3366.44,NaN,None
15995,2022-11-30,12:00,3494.23,3.47,2815.54,3381.72,NaN,None
15996,2022-11-30,13:00,3500.34,3.41,2811.52,3387.63,NaN,None
15997,2022-11-30,14:00,3523.34,3.39,2807.91,3409.89,NaN,None
15998,2022-11-30,15:00,3500.33,3.43,2811.79,3387.62,NaN,None
15999,2022-11-30,16:00,3494.78,3.49,2822.10,3382.25,NaN,None
16000,2022-11-30,17:00,3500.41,3.54,2830.39,3387.70,NaN,None
16001,2022-11-30,18:00,3492.99,3.61,2828.91,3380.52,NaN,None
16002,2022-11-30,19:00,3480.98,3.69,2858.88,3368.89,NaN,None
16003,2022-11-30,20:00,2377.78,3.98,2836.79,2301.22,NaN,None
16004,2022-11-30,21:00,2371.44,3.66,2788.62,2295.08,NaN,None
16005,2022-11-30,22:00,2372.14,2.99,2777.35,2295.76,NaN,None
16006,2022-11-30,23:00,2372.18,2.65,2779.34,2295.80,NaN,None
16007,2022-11-30,0:00,NaN,NaN,NaN,0.00,NaN,None

In [57]:
df_filled.to_excel('df_filled.xlsx',index=False)

# IGNORE

## Filling remarks column

In [ ]:
def fill_power_failure_remarks(data,column_name,remark):
    """
    Fill the 'remarks' column with 'power failure' for all rows where the 'value' column is 0.0,
    starting from the first occurrence of 'power failure' in the remarks.
    
    :param data: DataFrame with 'time', 'value', and 'remarks' columns
    :return: DataFrame with updated 'remarks' column
    """
    power_failure_flag = False  # Flag to track power failure status
    
    for i in range(len(data)):
        # If power failure is detected in the remarks column
        if data.loc[i, 'remarks category'] == remark: #and data.loc[i, column_name] == 0.0:
            power_failure_flag = True
        
        # If power failure flag is set and value is still 0.0, keep filling 'power failure'
        if power_failure_flag and data.loc[i, column_name] == 0.0:
            data.loc[i, 'remarks category'] = remark
        else:
            # Reset flag when power comes back (value is not 0.0)
            power_failure_flag = False
    
    return data

In [ ]:
def fill_power_failure_remarks2(data,column_name1,column_name2,remark):
    """
    Fill the 'remarks' column with 'power failure' for all rows where the 'value' column is 0.0,
    starting from the first occurrence of 'power failure' in the remarks.
    
    :param data: DataFrame with 'time', 'value', and 'remarks' columns
    :return: DataFrame with updated 'remarks' column
    """
    power_failure_flag = False  # Flag to track power failure status
    
    for i in range(len(data)):
        # If power failure is detected in the remarks column
        if data.loc[i, 'remarks category'] == remark: #and data.loc[i, column_name] == 0.0:
            power_failure_flag = True
        
        # If power failure flag is set and value is still 0.0, keep filling 'power failure'
        if power_failure_flag and data.loc[i, column_name1] == 0.0 and data.loc[i, column_name2] == 0.0:
            data.loc[i, 'remarks category'] = remark
        else:
            # Reset flag when power comes back (value is not 0.0)
            power_failure_flag = False
    
    return data

In [ ]:
df = fill_power_failure_remarks(df,'RAW WATER FLOW IN m3/h','Power Failure at Intake')

In [ ]:
df['remarks category'].isna().sum()

In [ ]:
df = fill_power_failure_remarks(df,'TREATED WATER PRODUCTION IN m3/h','Power Failure at WTP')

In [ ]:
df['remarks category'].isna().sum()

In [ ]:
df = fill_power_failure_remarks2(df,'RAW WATER FLOW IN m3/h','TREATED WATER PRODUCTION IN m3/h','Power Failure at intake and WTP')

In [ ]:
df['remarks category'].isna().sum()

In [ ]:
df[df['remarks category']=='Power Failure at intake and WTP']

In [ ]:
df.loc[22497:22510]

In [ ]:
df.iloc[17217:17220]

## Outlier detection

In [ ]:
indices = list(range(8, 15)) + \
          list(range(1870, 1875)) + \
          list(range(2460, 2467)) + \
          list(range(3290, 3295)) + \
          list(range(3350, 3355)) + \
          list(range(3450, 3455)) + \
          list(range(3690, 3692)) + \
          list(range(4540, 4545)) + \
          list(range(6790, 6795)) + \
          list(range(7775, 7775)) + \
          list(range(8638, 8642)) + \
          list(range(11410, 11413)) + \
          list(range(12902, 12905)) + \
          list(range(13890, 13895)) + \
          list(range(21200, 21204)) + \
          list(range(23180, 23185)) 
rows = df.loc[indices]
rows

In [ ]:
df[df['RAW WATER FLOW IN m3/h']>=4000]

In [ ]:
# indices = list(range(10, 14)) + \
#           list(range(1870, 1874)) + \
#           list(range(2462, 2466)) + \
#           list(range(3291, 3295)) + \
#           list(range(3353, 3357)) + \
#           list(range(3452, 3456)) + \
#           list(range(3689, 3693)) + \
#           list(range(4539, 4543)) + \
#           list(range(6789, 6793)) + \
#           list(range(7775, 7779)) + \
#           list(range(8638, 8642)) + \
#           list(range(11409, 11413)) + \
#           list(range(12902, 12906)) + \
#           list(range(13891, 13895)) + \
#           list(range(21199, 21203)) + \
#           list(range(23181, 23185))
# rows = df.loc[indices]
# rows

In [ ]:
df['RAW WATER FLOW IN m3/h'].isna().sum()

In [ ]:
# df['RAW WATER FLOW IN m3/h'].where(df['RAW WATER FLOW IN m3/h'] <= 4000).isna().sum()

In [ ]:
df[df['CLEAR WATER SUMP LEVEL IN Meter']>5]

In [ ]:
df['CLEAR WATER SUMP LEVEL IN Meter'].isna().sum()

In [ ]:
df['CLEAR WATER PUMPING FLOW m3/h'].isna().sum()

In [ ]:
df[df['CLEAR WATER PUMPING FLOW m3/h']>4000].shape

In [74]:
for i in range(len(data)):
        # If the value is greater than the threshold
        if df.loc[i, 'CLEAR WATER PUMPING FLOW m3/h'] > 4000:
            # Forward fill using the previous value
            print('index is ', i)
            print('previous value = ', df.loc[i-1, 'CLEAR WATER PUMPING FLOW m3/h'])
            print('outlier = ', df.loc[i, 'CLEAR WATER PUMPING FLOW m3/h'])

index is  33
previous value =  2853.65
outlier =  288856.95
index is  1219
previous value =  2932.53
outlier =  22889.09
index is  1342
previous value =  2807.84
outlier =  28011.65
index is  1346
previous value =  2805.94
outlier =  28037.94
index is  1757
previous value =  2882.68
outlier =  5857.7
index is  1982
previous value =  2909.51
outlier =  29076.81
index is  3590
previous value =  2871.0
outlier =  28903.86
index is  4510
previous value =  2821.43
outlier =  37712.98
index is  5952
previous value =  2737.55
outlier =  27129.82
index is  6976
previous value =  3650.95
outlier =  9643.97
index is  9116
previous value =  3658.72
outlier =  365485.0
index is  9416
previous value =  2773.89
outlier =  278062.0
index is  9838
previous value =  2823.67
outlier =  369237.0
index is  9925
previous value =  2798.56
outlier =  284515.0
index is  10816
previous value =  2847.23
outlier =  289531.0
index is  10839
previous value =  2775.19
outlier =  27784.94
index is  10896
previous value =  2786.54
outlier =  279873.0
index is  11190
previous value =  2781.17
outlier =  368234.0
index is  13372
previous value =  2792.61
outlier =  28012.73
index is  14738
previous value =  2801.56
outlier =  280378.0
index is  15671
previous value =  2739.81
outlier =  273287.0
index is  15876
previous value =  2828.23
outlier =  282967.0
index is  15894
previous value =  1857.48
outlier =  276454.0
index is  15906
previous value =  2789.83
outlier =  276454.0
index is  16833
previous value =  1841.78
outlier =  275498.0
index is  17332
previous value =  2756.69
outlier =  27458.0
index is  17627
previous value =  2801.34
outlier =  280070.0
index is  18211
previous value =  2758.67
outlier =  276681.0
index is  18371
previous value =  2801.34
outlier =  280070.0
index is  18955
previous value =  2758.67
outlier =  276681.0
index is  19155
previous value =  1888.07
outlier =  281493.0
index is  20405
previous value =  1876.21
outlier =  187226.0
index is  20584
previous value =  2821.74
outlier =  280402.0
index is  21314
previous value =  1834.24
outlier =  9236.01
index is  21315
previous value =  9236.01
outlier =  9226.24
index is  21316
previous value =  9226.24
outlier =  9223.04
index is  21318
previous value =  1821.24
outlier =  182463.0
index is  21571
previous value =  2743.09
outlier =  272356.0
index is  21907
previous value =  2726.47
outlier =  27700.6
index is  23030
previous value =  2791.83
outlier =  279832.0
index is  23056
previous value =  2756.98
outlier =  275386.0
index is  23463
previous value =  2795.82
outlier =  280118.0
index is  23464
previous value =  280118.0
outlier =  282823.0
index is  23491
previous value =  1875.32
outlier =  28742.76
index is  23670
previous value =  1870.98
outlier =  184260.0
index is  23731
previous value =  2759.03
outlier =  272446.0
index is  23848
previous value =  2797.37
outlier =  283508.0
index is  23857
previous value =  2764.14
outlier =  275306.0
index is  23858
previous value =  275306.0
outlier =  277078.0
index is  23860
previous value =  2727.58
outlier =  270985.0
index is  24158
previous value =  2764.14
outlier =  277743.0
index is  24670
previous value =  2726.47
outlier =  18013.61
index is  24737
previous value =  1922.1
outlier =  275197.0

In [ ]:
clear_water_list = list(df[df['CLEAR WATER PUMPING FLOW m3/h']>4000].index)
clear_water_list

In [ ]:
df.loc[clear_water_list]

In [ ]:
def raw_water_outlier_ffill(data, column_name1,column_name2, column_name3, threshold1=4000,threshold2=5, threshold3=4000):
    # Apply forward fill only to values greater than the threshold
#     data[column_name] = data[column_name].where(data[column_name] <= threshold).ffill()

#     temp_col = data[column_name].copy()
    
#     # Apply forward fill only to the values greater than the threshold
#     temp_col[temp_col > threshold] = temp_col[temp_col > threshold].ffill()
    
#     # Update only the values greater than the threshold in the original column
#     data.loc[data[column_name] > threshold, column_name] = temp_col

    for i in range(1, len(data)):
        # If the value is greater than the threshold
        if data.loc[i, column_name1] >= threshold1:
            # Forward fill using the previous value
            data.loc[i, column_name1] = data.loc[i-1, column_name1]
            data.loc[i,'TREATED WATER PRODUCTION IN m3/h'] = (data.loc[i, column_name1]*0.967).round(2)
            
    for i in range(1, len(data)):
        # If the value is greater than the threshold
        if data.loc[i, column_name2] > threshold2:
            # Forward fill using the previous value
            data.loc[i, column_name2] = data.loc[i-1, column_name2]
            
    for i in range(1, len(data)):
        # If the value is greater than the threshold
        if data.loc[i, column_name3] > threshold3:
            # Forward fill using the previous value
            data.loc[i, column_name3] = data.loc[i-1, column_name3]
    return data

In [ ]:
df[df['RAW WATER FLOW IN m3/h'] > 4000]['RAW WATER FLOW IN m3/h']# = temp_col[temp_col > threshold].ffill()

In [ ]:
# df[df['RAW WATER FLOW IN m3/h'] > 4000]['RAW WATER FLOW IN m3/h'] = df[df['RAW WATER FLOW IN m3/h'] > 4000]['RAW WATER FLOW IN m3/h'].ffill()

In [ ]:
df = raw_water_outlier_ffill(df,'RAW WATER FLOW IN m3/h','CLEAR WATER SUMP LEVEL IN Meter','CLEAR WATER PUMPING FLOW m3/h')
df

In [ ]:
df.loc[clear_water_list]

In [ ]:
df[df['RAW WATER FLOW IN m3/h']>=4000]

In [ ]:
df[df['CLEAR WATER SUMP LEVEL IN Meter']>5]

In [73]:
df[df['CLEAR WATER PUMPING FLOW m3/h'] > 4000]

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN m3/h,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW m3/h,TREATED WATER PRODUCTION IN m3/h,REMARKS,remarks category
33,2024-08-02,10:00,2598.65,2.02,288856.95,2514.97,NaN,None
1219,2024-07-23,20:00,3056.45,3.40,22889.09,2958.03,NaN,None
1342,2024-07-28,23:00,2855.38,3.15,28011.65,2763.44,NaN,None
1346,2024-07-29,3:00,2787.64,2.70,28037.94,2697.88,NaN,None
1757,2024-06-15,6:00,3391.53,3.61,5857.70,3282.32,NaN,None
1982,2024-06-24,15:00,3488.93,3.35,29076.81,3376.59,NaN,None
3590,2024-04-30,15:00,3496.60,3.55,28903.86,3384.01,NaN,None
4510,2024-02-07,23:00,3509.54,3.32,37712.98,3396.53,NaN,None
5952,2023-12-08,1:00,3462.86,3.85,27129.82,3351.36,NaN,None
6976,2023-11-19,17:00,3435.89,3.02,9643.97,3325.25,NaN,None
9116,2023-06-17,21:00,3359.72,2.58,365485.00,3251.54,NaN,None
9416,2023-06-30,9:00,3479.35,2.90,278062.00,3367.31,NaN,None
9838,2023-07-17,23:00,3256.13,3.18,369237.00,3151.28,NaN,None
9925,2023-07-21,14:00,3137.88,4.00,284515.00,3036.84,NaN,None
10816,2023-05-27,17:00,3445.23,3.52,289531.00,3334.29,NaN,None
10839,2023-05-28,16:00,3458.11,3.60,27784.94,3346.76,NaN,None
10896,2023-05-31,1:00,3444.77,2.71,279873.00,3333.85,NaN,None
11190,2023-04-12,7:00,3547.09,3.08,368234.00,3432.87,NaN,None
13372,2023-02-11,5:00,3479.34,2.62,28012.73,3367.31,NaN,None
14738,2022-12-09,2:00,2465.23,1.76,280378.00,2385.85,NaN,None
15671,2022-11-16,23:00,3128.12,2.37,273287.00,3027.39,NaN,None
15876,2022-11-25,12:00,3462.45,2.99,282967.00,3350.96,NaN,None
15894,2022-11-26,6:00,2356.87,3.11,276454.00,2280.98,NaN,None
15906,2022-11-26,18:00,3461.18,3.04,276454.00,3349.73,NaN,None
16833,2022-09-04,9:00,2214.65,3.25,275498.00,2143.34,NaN,None
17332,2022-09-25,4:00,3270.33,3.30,27458.00,3165.03,NaN,None
17627,2022-08-07,11:00,2775.93,2.68,280070.00,2686.55,NaN,None
18211,2022-08-31,19:00,3212.10,2.91,276681.00,3108.67,NaN,None
18371,2022-08-07,11:00,2775.93,2.68,280070.00,2686.55,NaN,None
18955,2022-08-31,19:00,3212.10,2.91,276681.00,3108.67,NaN,None
19155,2022-07-09,3:00,3137.73,3.03,281493.00,3036.70,NaN,None
20405,2022-06-30,5:00,2378.39,3.01,187226.00,2301.81,NaN,None
20584,2022-05-07,16:00,2547.81,3.54,280402.00,2465.77,NaN,None
21314,2022-04-07,2:00,1225.07,2.31,9236.01,1185.62,NaN,None
21315,2022-04-07,3:00,1224.64,2.48,9226.24,1185.21,NaN,None
21316,2022-04-07,4:00,1225.02,2.64,9223.04,1185.57,NaN,None
21318,2022-04-07,6:00,1224.42,2.82,182463.00,1184.99,NaN,None
21571,2022-04-17,19:00,2558.21,2.78,272356.00,2475.84,NaN,None
21907,2022-03-01,19:00,2481.27,3.03,27700.60,2401.37,NaN,None
23030,2022-02-17,14:00,2498.75,2.88,279832.00,2418.29,NaN,None
23056,2022-02-18,16:00,3552.64,2.84,275386.00,3438.24,NaN,None
23463,2022-01-07,15:00,3642.15,3.24,280118.00,3524.87,NaN,None
23464,2022-01-07,16:00,3642.84,3.49,282823.00,3525.54,NaN,None
23491,2022-01-08,19:00,2543.42,3.51,28742.76,2461.52,NaN,None
23670,2022-01-16,6:00,2525.13,3.36,184260.00,2443.82,NaN,None
23731,2022-01-18,19:00,3619.34,2.16,272446.00,3502.80,NaN,None
23848,2022-01-23,16:00,3666.02,3.22,283508.00,3547.97,NaN,None
23857,2022-01-24,1:00,2544.34,2.51,275306.00,2462.41,NaN,None
23858,2022-01-24,2:00,2545.40,2.39,277078.00,2463.44,NaN,None
23860,2022-01-24,4:00,2647.54,2.00,270985.00,2562.29,NaN,None
24158,2021-12-05,14:00,3444.03,3.00,277743.00,3333.13,NaN,None
24670,2021-12-26,22:00,2531.53,2.17,18013.61,2450.01,NaN,None
24737,2021-12-29,17:00,2421.13,3.68,275197.00,2343.17,NaN,None

In [ ]:
indices = list(range(10, 15)) + \
          list(range(1870, 1875)) + \
          list(range(2462, 2467)) + \
          list(range(3291, 3296)) + \
          list(range(3353, 3358)) + \
          list(range(3452, 3457)) + \
          list(range(3689, 3694)) + \
          list(range(4539, 4544)) + \
          list(range(6789, 6794)) + \
          list(range(7775, 7780)) + \
          list(range(8638, 8643)) + \
          list(range(11409, 11414)) + \
          list(range(12902, 12907)) + \
          list(range(13891, 13896)) + \
          list(range(21199, 21204)) + \
          list(range(23181, 23186))
rows = df.loc[indices]
rows

In [ ]:
# df['RAW WATER FLOW IN m3/h'].where(df['RAW WATER FLOW IN m3/h'] <= 4000).isna().sum()

In [ ]:
df['RAW WATER FLOW IN m3/h'].isna().sum()

In [ ]:
df['CLEAR WATER SUMP LEVEL IN Meter'].isna().sum()

In [ ]:
df[df['CLEAR WATER SUMP LEVEL IN Meter']>5]

In [ ]:
df['CLEAR WATER PUMPING FLOW m3/h'].isna().sum()