In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
#Loading dataset

In [ ]:
data = pd.read_excel('df_filled.xlsx',parse_dates=['Standardized_Date'])
data

In [ ]:
data.isna().sum()

In [ ]:
data[(data['RAW WATER FLOW IN m3/h'].isna()) & (data['CLEAR WATER SUMP LEVEL IN Meter'].isna()) & (data['CLEAR WATER PUMPING FLOW m3/h'].isna()) & (data['TREATED WATER PRODUCTION IN m3/h']==0) & (data['remarks category']).isna()]

In [ ]:
data[data['TREATED WATER PRODUCTION IN m3/h'].isna()]

In [ ]:
data[12618:12621]

In [ ]:
data.loc[12619, 'TREATED WATER PRODUCTION IN m3/h'] = 3153.82

In [ ]:
data[12618:12621]

In [ ]:
data[data['RAW WATER FLOW IN m3/h'].isna()]

In [ ]:
data.loc[data['remarks category'].notnull()] = data.loc[data['remarks category'].notnull()].fillna(0)

In [ ]:
data[6200:6205]

In [ ]:
data[data['RAW WATER FLOW IN m3/h'].isna()]

In [ ]:
data.isna().sum()

In [ ]:
data[data['CLEAR WATER PUMPING FLOW m3/h'].isna()]

In [ ]:
data[23309:23312]

In [ ]:
indexes_to_fill = [2779, 8638, 8687, 23310]
data.loc[indexes_to_fill, 'CLEAR WATER PUMPING FLOW m3/h'] = data['CLEAR WATER PUMPING FLOW m3/h'].ffill()

In [ ]:
data[data['CLEAR WATER PUMPING FLOW m3/h'].isna()]

In [ ]:
data[data['CLEAR WATER SUMP LEVEL IN Meter'].isna()]

In [ ]:
indexes_to_fill = [321, 2604, 2605, 2606, 4911]
data.loc[indexes_to_fill, 'CLEAR WATER SUMP LEVEL IN Meter'] = 0

In [ ]:
data[data['CLEAR WATER SUMP LEVEL IN Meter'].isna()]

In [ ]:
data['REMARKS'].fillna('No Remarks', inplace=True)
data['REMARKS'].replace(0,'No Remarks',inplace=True)
data['remarks category'].fillna('No Remarks', inplace=True)

In [ ]:
data.isna().sum()

In [ ]:
data