In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('final_data_in_ML.csv',index_col='Standardized_Date',parse_dates=True)
data.shape

(24048, 7)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24048 entries, 2021-12-01 to 2024-08-28
Data columns (total 7 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   STANDARDIZED_TIME                24048 non-null  object
 1   RAW WATER FLOW IN ML             24048 non-null  float64
 2   CLEAR WATER SUMP LEVEL IN Meter  24048 non-null  float64
 3   CLEAR WATER PUMPING FLOW ML      24048 non-null  float64
 4   TREATED WATER PRODUCTION IN ML   24048 non-null  float64
 5   REMARKS                          24048 non-null  object
 6   remarks category                 24048 non-null  object
dtypes: float64(4), object(3)
memory usage: 1.5+ MB

In [4]:
data.columns

Index(['STANDARDIZED_TIME', 'RAW WATER FLOW IN ML',
       'CLEAR WATER SUMP LEVEL IN Meter', 'CLEAR WATER PUMPING FLOW ML',
       'TREATED WATER PRODUCTION IN ML', 'REMARKS', 'remarks category'],
      dtype='object')

In [5]:
data_2days = data[(data.index>='2022-01-11')&(data.index<='2022-01-12')].reset_index()
data_2days

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,REMARKS,remarks category
0,2022-01-11,00:00:00,3.58032,3.39,2.72897,3.46503,No remarks,No remarks
1,2022-01-11,01:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
2,2022-01-11,02:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
3,2022-01-11,03:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
4,2022-01-11,04:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
5,2022-01-11,05:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
6,2022-01-11,06:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
7,2022-01-11,07:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
8,2022-01-11,08:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
9,2022-01-11,09:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
10,2022-01-11,10:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
11,2022-01-11,11:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
12,2022-01-11,12:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
13,2022-01-11,13:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
14,2022-01-11,14:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
15,2022-01-11,15:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
16,2022-01-11,16:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
17,2022-01-11,17:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
18,2022-01-11,18:00:00,0.00000,0.00,0.00000,0.00000,twr tank cleaning,WTP cleaning
19,2022-01-11,19:00:00,1.23021,0.00,0.00000,1.19060,No remarks,No remarks
20,2022-01-11,20:00:00,2.51032,0.00,0.00000,2.42949,No remarks,No remarks
21,2022-01-11,21:00:00,3.60001,2.20,0.93226,3.48409,No remarks,No remarks
22,2022-01-11,22:00:00,3.56931,3.23,1.92443,3.45438,No remarks,No remarks
23,2022-01-11,23:00:00,3.60012,3.33,2.80079,3.48420,No remarks,No remarks
24,2022-01-12,00:00:00,2.48884,2.01,1.82688,2.40870,No remarks,No remarks
25,2022-01-12,01:00:00,3.58328,3.76,2.73090,3.46790,No remarks,No remarks
26,2022-01-12,02:00:00,3.57267,3.99,2.64641,3.45763,No remarks,No remarks
27,2022-01-12,03:00:00,2.47639,3.92,2.72829,2.39665,No remarks,No remarks
28,2022-01-12,04:00:00,2.46702,3.47,2.75396,2.38758,No remarks,No remarks
29,2022-01-12,05:00:00,2.46925,2.96,2.77318,2.38974,No remarks,No remarks
30,2022-01-12,06:00:00,2.46689,2.45,2.76237,2.38746,No remarks,No remarks
31,2022-01-12,07:00:00,2.48181,2.12,2.75962,2.40190,No remarks,No remarks
32,2022-01-12,08:00:00,3.60199,2.06,2.72647,3.48601,No remarks,No remarks
33,2022-01-12,09:00:00,3.59665,2.27,2.75970,3.48084,No remarks,No remarks
34,2022-01-12,10:00:00,3.60199,2.95,1.85568,3.48601,No remarks,No remarks
35,2022-01-12,11:00:00,2.49845,3.44,1.86455,2.41800,No remarks,No remarks
36,2022-01-12,12:00:00,2.49738,3.30,1.87008,2.41696,No remarks,No remarks
37,2022-01-12,13:00:00,2.50178,3.39,1.88841,2.42122,No remarks,No remarks
38,2022-01-12,14:00:00,2.52833,3.50,1.86338,2.44692,No remarks,No remarks
39,2022-01-12,15:00:00,2.49018,3.68,1.87776,2.41000,No remarks,No remarks
40,2022-01-12,16:00:00,2.50698,3.77,1.88724,2.42626,No remarks,No remarks
41,2022-01-12,17:00:00,2.49598,3.38,2.79867,2.41561,No remarks,No remarks
42,2022-01-12,18:00:00,2.49845,3.02,2.77300,2.41800,No remarks,No remarks
43,2022-01-12,19:00:00,2.49784,2.69,2.72322,2.41741,No remarks,No remarks
44,2022-01-12,20:00:00,2.49838,2.37,2.74774,2.41793,No remarks,No remarks
45,2022-01-12,21:00:00,2.50912,2.06,2.72071,2.42833,No remarks,No remarks
46,2022-01-12,22:00:00,2.49643,1.65,2.67378,2.41604,No remarks,No remarks
47,2022-01-12,23:00:00,2.49845,1.64,1.79807,2.41800,No remarks,No remarks

In [6]:
data_11_jan_2022 = data[(data.index=='2022-01-11')].reset_index()
data_12_jan_2022 = data[(data.index=='2022-01-12')].reset_index()
data_12_jan_2022

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,REMARKS,remarks category
0,2022-01-12,00:00:00,2.48884,2.01,1.82688,2.40870,No remarks,No remarks
1,2022-01-12,01:00:00,3.58328,3.76,2.73090,3.46790,No remarks,No remarks
2,2022-01-12,02:00:00,3.57267,3.99,2.64641,3.45763,No remarks,No remarks
3,2022-01-12,03:00:00,2.47639,3.92,2.72829,2.39665,No remarks,No remarks
4,2022-01-12,04:00:00,2.46702,3.47,2.75396,2.38758,No remarks,No remarks
5,2022-01-12,05:00:00,2.46925,2.96,2.77318,2.38974,No remarks,No remarks
6,2022-01-12,06:00:00,2.46689,2.45,2.76237,2.38746,No remarks,No remarks
7,2022-01-12,07:00:00,2.48181,2.12,2.75962,2.40190,No remarks,No remarks
8,2022-01-12,08:00:00,3.60199,2.06,2.72647,3.48601,No remarks,No remarks
9,2022-01-12,09:00:00,3.59665,2.27,2.75970,3.48084,No remarks,No remarks
10,2022-01-12,10:00:00,3.60199,2.95,1.85568,3.48601,No remarks,No remarks
11,2022-01-12,11:00:00,2.49845,3.44,1.86455,2.41800,No remarks,No remarks
12,2022-01-12,12:00:00,2.49738,3.30,1.87008,2.41696,No remarks,No remarks
13,2022-01-12,13:00:00,2.50178,3.39,1.88841,2.42122,No remarks,No remarks
14,2022-01-12,14:00:00,2.52833,3.50,1.86338,2.44692,No remarks,No remarks
15,2022-01-12,15:00:00,2.49018,3.68,1.87776,2.41000,No remarks,No remarks
16,2022-01-12,16:00:00,2.50698,3.77,1.88724,2.42626,No remarks,No remarks
17,2022-01-12,17:00:00,2.49598,3.38,2.79867,2.41561,No remarks,No remarks
18,2022-01-12,18:00:00,2.49845,3.02,2.77300,2.41800,No remarks,No remarks
19,2022-01-12,19:00:00,2.49784,2.69,2.72322,2.41741,No remarks,No remarks
20,2022-01-12,20:00:00,2.49838,2.37,2.74774,2.41793,No remarks,No remarks
21,2022-01-12,21:00:00,2.50912,2.06,2.72071,2.42833,No remarks,No remarks
22,2022-01-12,22:00:00,2.49643,1.65,2.67378,2.41604,No remarks,No remarks
23,2022-01-12,23:00:00,2.49845,1.64,1.79807,2.41800,No remarks,No remarks

In [7]:
plt.plot(data_12_jan_2022['STANDARDIZED_TIME'], data_12_jan_2022['RAW WATER FLOW IN ML'], label='January 12, 2022', marker='o',color='g')
plt.plot(data_11_jan_2022['STANDARDIZED_TIME'], data_11_jan_2022['RAW WATER FLOW IN ML'], label='January 11, 2022', marker='o',color='r')
plt.xticks(rotation=45)
plt.show()

NameError: name 'plt' is not defined

## Resample the data to day

In [10]:
data_day = data.resample('D').agg({'RAW WATER FLOW IN ML':'sum',
                                   'CLEAR WATER SUMP LEVEL IN Meter':'mean',
                                   'CLEAR WATER PUMPING FLOW ML':'sum',
                                   'TREATED WATER PRODUCTION IN ML':'sum', 'remarks category':'unique'})

In [11]:
data_day

,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,remarks category
Standardized_Date,,,,,
2021-12-01,52.48854,2.717917,42.40192,50.79840,[No remarks]
2021-12-02,74.11374,3.043333,62.91389,71.72728,[No remarks]
2021-12-03,48.80559,2.340833,43.41464,47.23406,[No remarks]
2021-12-04,48.62754,2.692083,40.06170,47.06173,[No remarks]
2021-12-05,55.10133,2.890000,46.87842,53.32709,[No remarks]
...,...,...,...,...,...
2024-08-24,74.52574,3.070833,68.91871,72.12601,[No remarks]
2024-08-25,70.00836,2.514167,64.06335,67.75409,[No remarks]
2024-08-26,74.53040,2.399167,66.58816,72.13055,[No remarks]
2024-08-27,73.90301,2.388750,68.81720,71.52333,[No remarks]
2024-08-28,75.33976,3.021250,65.00309,72.91382,[No remarks]

## Recovery Percentage
The significance of this metric is that it indicates how much of the raw water input is successfully converted into treated water output. A higher recovery percentage suggests that the plant is optimizing the utilization of raw water resources and minimizing water losses during the treatment process. This metric is important for evaluating the plant's operational efficiency and water conservation efforts

In [12]:
data_day['Recovery_percentage'] = ((data_day['TREATED WATER PRODUCTION IN ML']/data_day['RAW WATER FLOW IN ML'])*100).round(2)
data_day.shape

(1002, 6)

In [13]:
data_day.head()

,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,remarks category,Recovery_percentage
Standardized_Date,,,,,,
2021-12-01,52.48854,2.717917,42.40192,50.79840,[No remarks],96.78
2021-12-02,74.11374,3.043333,62.91389,71.72728,[No remarks],96.78
2021-12-03,48.80559,2.340833,43.41464,47.23406,[No remarks],96.78
2021-12-04,48.62754,2.692083,40.06170,47.06173,[No remarks],96.78
2021-12-05,55.10133,2.890000,46.87842,53.32709,[No remarks],96.78

In [14]:
data_day[data_day.Recovery_percentage.isna()]

,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,remarks category,Recovery_percentage
Standardized_Date,,,,,,
2022-01-10,0.0,0.000000,0.0,0.0,[WTP cleaning],NaN
2022-06-15,0.0,2.447917,0.0,0.0,[pipe line broken at thaliparamba],NaN
2022-06-16,0.0,1.674167,0.0,0.0,[pipe line broken at thaliparamba],NaN
2024-01-04,0.0,0.000000,0.0,0.0,[maintanance],NaN
2024-01-05,0.0,0.000000,0.0,0.0,[maintanance],NaN

In [15]:
data_day.Recovery_percentage.unique()

array([96.78,   nan, 96.81, 96.77, 96.8 , 96.79, 96.76, 96.74, 96.72])

In [16]:
data_day.Recovery_percentage.fillna(0.0,inplace=True)
data_day[data_day.Recovery_percentage.isna()]

Empty DataFrame
Columns: [RAW WATER FLOW IN ML, CLEAR WATER SUMP LEVEL IN Meter, CLEAR WATER PUMPING FLOW ML, TREATED WATER PRODUCTION IN ML, remarks category, Recovery_percentage]
Index: []

In [17]:
data_day.Recovery_percentage.unique()

array([96.78,  0.  , 96.81, 96.77, 96.8 , 96.79, 96.76, 96.74, 96.72])

In [18]:
data_day[data_day.Recovery_percentage>=100]

Empty DataFrame
Columns: [RAW WATER FLOW IN ML, CLEAR WATER SUMP LEVEL IN Meter, CLEAR WATER PUMPING FLOW ML, TREATED WATER PRODUCTION IN ML, remarks category, Recovery_percentage]
Index: []

In [19]:
data_day[data_day.Recovery_percentage<96]

,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,remarks category,Recovery_percentage
Standardized_Date,,,,,,
2022-01-10,0.0,0.000000,0.0,0.0,[WTP cleaning],0.0
2022-06-15,0.0,2.447917,0.0,0.0,[pipe line broken at thaliparamba],0.0
2022-06-16,0.0,1.674167,0.0,0.0,[pipe line broken at thaliparamba],0.0
2024-01-04,0.0,0.000000,0.0,0.0,[maintanance],0.0
2024-01-05,0.0,0.000000,0.0,0.0,[maintanance],0.0

## Capacity Utilization 

This metric is the ratio of the total treated water production in MLD to the design capacity of the WTP.
This metric indicates the extent to which the WTP is utilizing its designed capacity. This provides an insight into the operational efficiency of the plant.

In [20]:
data_day['Capacity_utilization'] = ((data_day['TREATED WATER PRODUCTION IN ML']/93)*100).round(2)
data_day.shape

(1002, 7)

In [21]:
data_day.head()

,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,remarks category,Recovery_percentage,Capacity_utilization
Standardized_Date,,,,,,,
2021-12-01,52.48854,2.717917,42.40192,50.79840,[No remarks],96.78,54.62
2021-12-02,74.11374,3.043333,62.91389,71.72728,[No remarks],96.78,77.13
2021-12-03,48.80559,2.340833,43.41464,47.23406,[No remarks],96.78,50.79
2021-12-04,48.62754,2.692083,40.06170,47.06173,[No remarks],96.78,50.60
2021-12-05,55.10133,2.890000,46.87842,53.32709,[No remarks],96.78,57.34

In [22]:
data_day[data_day['Capacity_utilization']>=100]

Empty DataFrame
Columns: [RAW WATER FLOW IN ML, CLEAR WATER SUMP LEVEL IN Meter, CLEAR WATER PUMPING FLOW ML, TREATED WATER PRODUCTION IN ML, remarks category, Recovery_percentage, Capacity_utilization]
Index: []

In [23]:
data_day['Capacity_utilization'].max()

89.94

In [24]:
data_day['Capacity_utilization'].min()

0.0

In [25]:
data_day[data_day['Capacity_utilization']==0.0]

,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,remarks category,Recovery_percentage,Capacity_utilization
Standardized_Date,,,,,,,
2022-01-10,0.0,0.000000,0.0,0.0,[WTP cleaning],0.0,0.0
2022-06-15,0.0,2.447917,0.0,0.0,[pipe line broken at thaliparamba],0.0,0.0
2022-06-16,0.0,1.674167,0.0,0.0,[pipe line broken at thaliparamba],0.0,0.0
2024-01-04,0.0,0.000000,0.0,0.0,[maintanance],0.0,0.0
2024-01-05,0.0,0.000000,0.0,0.0,[maintanance],0.0,0.0

In [26]:
data_day['Capacity_utilization'].nsmallest(60)

Standardized_Date
2022-01-10     0.00
2022-06-15     0.00
2022-06-16     0.00
2024-01-04     0.00
2024-01-05     0.00
2022-07-07    10.50
2024-01-06    10.57
2022-01-11    18.83
2022-06-17    19.83
2022-08-02    21.77
2023-12-19    25.41
2023-07-14    26.53
2022-08-04    27.10
2022-07-21    27.96
2023-12-18    28.97
2024-08-20    33.53
2023-10-10    34.74
2023-09-16    35.18
2022-04-23    35.76
2023-10-27    36.01
2022-07-08    36.73
2022-07-20    36.92
2022-08-30    37.12
2023-10-11    38.61
2022-07-18    39.75
2022-04-28    40.28
2022-07-04    40.29
2022-08-29    40.30
2022-07-06    40.47
2023-10-28    40.47
2022-01-09    41.04
2023-10-08    41.91
2022-07-15    42.55
2022-07-19    43.22
2022-07-16    43.28
2023-07-21    43.30
2024-07-25    43.34
2022-08-03    43.35
2023-10-30    43.87
2024-07-27    44.21
2022-01-21    44.71
2023-12-04    45.05
2024-07-24    45.36
2022-08-05    45.38
2022-07-14    45.55
2022-08-26    45.62
2022-09-19    45.88
2023-01-18    45.89
2023-08-22    45.90
2023-08-14    46.03
2022-08-27    46.08
2022-07-27    46.72
2023-07-25    46.74
2023-11-01    47.00
2024-07-30    47.04
2024-07-19    47.34
2024-07-23    47.69
2023-07-03    47.93
2022-02-16    47.94
2022-04-08    48.35
Name: Capacity_utilization, dtype: float64

In [27]:
data_day[data_day['Capacity_utilization']!=0.0]['Capacity_utilization'].min()

10.5

In [28]:
data_day[data_day['Capacity_utilization']==10.5]

,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,remarks category,Recovery_percentage,Capacity_utilization
Standardized_Date,,,,,,,
2022-07-07,10.0918,2.437917,7.30189,9.76685,"[No remarks, intake sump level low]",96.78,10.5

In [29]:
# data[data.index=='2024-07-27']

## Plant Availability (need to discuss with Rajeshchetan)

The plant availability metric indicates how often the plant is available to perform its functions compared to the total time it could potentially operate.

In [30]:
planned_operating_time = 24
actual_operating_time

NameError: name 'actual_operating_time' is not defined

In [ ]:
data.resample('D').agg({'remarks category':'count'})

In [ ]:
data_wtp = data[data['remarks category'].str.contains('WTP')]
data_wtp

In [ ]:
data_wtp_hours = data_wtp.resample('D').agg({'remarks category':'count'})
data_wtp_hours

In [ ]:
# data[data.index=='2022-01-10']

In [ ]:
data_wtp_hours['plant_availability'] = (((24-data_wtp_hours['remarks category'])/24)*100).round(2)

In [ ]:
data_wtp_hours

## Shift wise treated water production 

An aggregate of treated water production during each shift helps the operator to understand the volume of raw water, treated water and clear water pumping flow during each shift. 

Shift timings:  Shift1 from 6 am to 2 pm, Shift 2 from 2 pm to 10 pm and Shift 3 from 10 pm to 6 pm

In [31]:
df = data.reset_index()

In [32]:
# Example: Assuming you have a 'time' column in your dataframe
def assign_shift(hour):
    if 6 <= hour < 14:
        return 'Shift 1'
    elif 14 <= hour < 22:
        return 'Shift 2'
    else:
        return 'Shift 3'

In [33]:
df['Hour'] = pd.to_datetime(df['STANDARDIZED_TIME']).dt.hour

In [34]:
df.dtypes

Standardized_Date                  datetime64[ns]
STANDARDIZED_TIME                          object
RAW WATER FLOW IN ML                      float64
CLEAR WATER SUMP LEVEL IN Meter           float64
CLEAR WATER PUMPING FLOW ML               float64
TREATED WATER PRODUCTION IN ML            float64
REMARKS                                    object
remarks category                           object
Hour                                        int64
dtype: object

In [35]:
df

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,REMARKS,remarks category,Hour
0,2021-12-01,00:00:00,3.52301,2.10,2.70209,3.40957,No remarks,No remarks,0
1,2021-12-01,01:00:00,3.51043,2.84,2.77743,3.39739,No remarks,No remarks,1
2,2021-12-01,02:00:00,3.49087,3.12,2.79467,3.37846,No remarks,No remarks,2
3,2021-12-01,03:00:00,3.50543,3.44,2.79543,3.39256,No remarks,No remarks,3
4,2021-12-01,04:00:00,3.51556,3.72,2.79826,3.40236,No remarks,No remarks,4
...,...,...,...,...,...,...,...,...,...
24043,2024-08-28,19:00:00,3.13486,3.46,2.87175,3.03392,No remarks,No remarks,19
24044,2024-08-28,20:00:00,3.17401,3.63,2.85830,3.07181,No remarks,No remarks,20
24045,2024-08-28,21:00:00,3.13113,3.64,2.87098,3.03031,No remarks,No remarks,21
24046,2024-08-28,22:00:00,3.16261,3.49,2.89001,3.06077,No remarks,No remarks,22
24047,2024-08-28,23:00:00,3.14265,3.52,2.86865,3.04146,No remarks,No remarks,23

In [37]:
# Assuming 'time' column is in datetime format
# df['Shift'] = df['TIME'].dt.hour.apply(assign_shift)
df['Shift1'] = df['Hour'].apply(assign_shift)
df

,Standardized_Date,STANDARDIZED_TIME,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,REMARKS,remarks category,Hour,Shift1
0,2021-12-01,00:00:00,3.52301,2.10,2.70209,3.40957,No remarks,No remarks,0,Shift 3
1,2021-12-01,01:00:00,3.51043,2.84,2.77743,3.39739,No remarks,No remarks,1,Shift 3
2,2021-12-01,02:00:00,3.49087,3.12,2.79467,3.37846,No remarks,No remarks,2,Shift 3
3,2021-12-01,03:00:00,3.50543,3.44,2.79543,3.39256,No remarks,No remarks,3,Shift 3
4,2021-12-01,04:00:00,3.51556,3.72,2.79826,3.40236,No remarks,No remarks,4,Shift 3
...,...,...,...,...,...,...,...,...,...,...
24043,2024-08-28,19:00:00,3.13486,3.46,2.87175,3.03392,No remarks,No remarks,19,Shift 2
24044,2024-08-28,20:00:00,3.17401,3.63,2.85830,3.07181,No remarks,No remarks,20,Shift 2
24045,2024-08-28,21:00:00,3.13113,3.64,2.87098,3.03031,No remarks,No remarks,21,Shift 2
24046,2024-08-28,22:00:00,3.16261,3.49,2.89001,3.06077,No remarks,No remarks,22,Shift 3
24047,2024-08-28,23:00:00,3.14265,3.52,2.86865,3.04146,No remarks,No remarks,23,Shift 3

In [79]:
# df = df[['Standardized_Date','STANDARDIZED_TIME', 'RAW WATER FLOW IN ML',
#        'CLEAR WATER SUMP LEVEL IN Meter', 'CLEAR WATER PUMPING FLOW ML',
#        'TREATED WATER PRODUCTION IN ML', 'REMARKS', 'remarks category',
#        'Shift']]
# df.shape

In [38]:
# df.head()

In [39]:
# shift_data = df.groupby(['Standardized_Date','Shift']).agg({'RAW WATER FLOW IN ML':'sum',
#                                    'CLEAR WATER PUMPING FLOW ML':'sum',
#                                    'TREATED WATER PRODUCTION IN ML':'sum'}).reset_index()
# shift_data

## Water demand analysis 

The total volume of clear water pumped from treated sources reflects the water consumption by the Overhead Storage Tanks (OHSR). This water is then distributed to individual households, representing the overall demand for water. 

The comparison of demand can be visualized for a desired time range (month on month, year on year)

In [50]:
data_month = data.resample('M').agg({'RAW WATER FLOW IN ML':'sum',
                                   'CLEAR WATER SUMP LEVEL IN Meter':'mean',
                                   'CLEAR WATER PUMPING FLOW ML':'sum',
                                   'TREATED WATER PRODUCTION IN ML':'sum', 'remarks category':'unique'})
data_month

,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,remarks category
Standardized_Date,,,,,
2021-12-31,1998.059680,2.900954,1738.985111,1933.722260,[No remarks]
2022-01-31,1928.276850,2.713804,1669.968356,1866.186420,"[No remarks, WTP cleaning, energy auditing, Po..."
2022-02-28,1832.749031,2.800164,1577.522110,1773.731660,"[No remarks, maintanance at intake, Power Fail..."
2022-03-31,2169.405400,2.831720,1860.290835,2099.551520,"[No remarks, Power Failure at Intake]"
2022-04-30,1943.862463,2.769444,1699.233060,1881.272590,"[No remarks, Power Failure at Intake, Power Fa..."
2022-05-31,2016.614410,2.857272,1757.840880,1951.698500,"[No remarks, Power Failure at WTP, Power Failu..."
2022-06-30,1814.876370,2.691806,1606.903240,1756.432580,"[No remarks, Power Failure at intake and WTP, ..."
2022-07-31,1599.658680,2.793535,1404.362230,1548.147830,"[No remarks, intake sump level low, Power Fail..."
2022-08-31,1752.933070,2.840269,1520.865680,1696.487150,"[No remarks, Power Failure at intake and WTP, ..."
2022-09-30,1910.059020,2.836417,1669.906550,1848.543760,"[No remarks, intake cleaning]"
2022-10-31,2202.323760,2.947755,1906.800580,2131.406310,"[No remarks, intake cleaning]"
2022-11-30,2121.876660,2.924958,1841.023200,2053.546760,[No remarks]
2022-12-31,2271.739730,2.981196,1967.663750,2198.589820,"[No remarks, voltage fluctation at intake]"
2023-01-31,2237.711297,3.052191,1924.172400,2165.670850,"[No remarks, Power Failure at Intake]"
2023-02-28,2057.460310,2.966711,1765.574653,1991.195210,"[No remarks, Power Failure at intake and WTP, ..."
2023-03-31,2310.713690,3.034368,1990.518290,2236.309280,[No remarks]
2023-04-30,2392.954534,2.909681,2058.044720,2315.873960,"[No remarks, maintanance]"
2023-05-31,2451.286890,3.073938,2119.028724,2372.367790,"[No remarks, maintanance at Thaliparamba, Powe..."
2023-06-30,2406.076600,3.149028,2121.064530,2328.600030,"[No remarks, Power Failure at intake and WTP]"
2023-07-31,2068.247780,2.939556,1903.263180,2001.648650,"[No remarks, channel cieaning, intake cleaning..."
2023-08-31,2349.926378,3.101962,2168.182010,2274.258400,"[No remarks, maintanance, Power Failure at Int..."
2023-09-30,2262.665739,3.010500,2077.529360,2189.758220,"[No remarks, distribution line maintanance]"
2023-10-31,2130.573364,3.045363,1973.342580,2061.997730,"[No remarks, distribution line maintanance]"
2023-11-30,2230.987850,3.063097,2042.058860,2159.140988,[No remarks]
2023-12-31,2395.032980,3.003414,2296.823382,2317.889960,"[No remarks, complaint at WTP]"
2024-01-31,2254.915570,2.731317,2036.180180,2182.307180,"[No remarks, maintanance, intake pumping stopp..."
2024-02-29,2404.158071,2.930388,2167.673658,2326.741380,"[No remarks, maintanance at intake]"
2024-03-31,2586.259865,3.011788,2299.189980,2502.979580,[No remarks]
2024-04-30,2362.253483,2.956014,2136.454676,2286.180445,"[No remarks, Power Failure at Intake]"
2024-05-31,2486.204442,3.082903,2283.027300,2406.145940,"[No remarks, Power Failure at Intake, Power Fa..."
2024-06-30,2365.056487,2.958333,2168.680371,2288.898950,[No remarks]
2024-07-31,1905.269660,2.756398,1723.190258,1843.919960,"[No remarks, intake cleaning]"
2024-08-31,1853.873663,2.759792,1676.877970,1794.176620,[No remarks]

In [51]:
data_year = data.resample('Y').agg({'RAW WATER FLOW IN ML':'sum',
                                   'CLEAR WATER SUMP LEVEL IN Meter':'mean',
                                   'CLEAR WATER PUMPING FLOW ML':'sum',
                                   'TREATED WATER PRODUCTION IN ML':'sum', 'remarks category':'unique'})
data_year

,RAW WATER FLOW IN ML,CLEAR WATER SUMP LEVEL IN Meter,CLEAR WATER PUMPING FLOW ML,TREATED WATER PRODUCTION IN ML,remarks category
Standardized_Date,,,,,
2021-12-31,1998.059680,2.900954,1738.985111,1933.722260,[No remarks]
2022-12-31,23564.375444,2.832919,20482.380471,22805.594900,"[No remarks, WTP cleaning, energy auditing, Po..."
2023-12-31,27293.637412,3.029621,24439.602689,26414.711068,"[No remarks, Power Failure at Intake, Power Fa..."
2024-12-31,18217.991241,2.899338,16491.274392,17631.350055,"[No remarks, maintanance, intake pumping stopp..."

In [ ]:
kwh, energy_cost